.form-horizontal .control-label {
  text-align: left;
}
.glyphlink .glyphicon {
  color: #5cb85c;
  margin-right: 5px;
}
#js-photo-map-wrapper {
  display: none;
}
.photo-list-block img {
  width: 247px;
  height: 247px;
}
.photo-list-block-panel {
  width: 100%;
  background-color: rgba(0, 0, 255, 0.3);
  height: 35px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
}
.js-photo-save__button {
  cursor: pointer;
  color: green;
  display: none;
}
.js-photo-rotate__button {
  cursor: pointer;
}
.banner-block {
  display: table-row;
}
.banner-block img {
  height: 92px;
}
.banner-block_logo {
  display: table-cell;
  width: 70%;
}
.banner-block_client {
  display: table-cell;
  width: 30%;
}
.bottom-block {
  display: none;
}
.incomingtask-modal {
  display: none;
  width: 500px;
}
.incomingtask-modal-add-form {
  width: 480px;
}
.incomingtask-modal-update-form {
  width: 480px;
}
.client-modal-add-text {
  display: none;
}
.client-modal-add-form {
  width: 480px;
  display: none;
}
#incomingclient-contact {
  width: 500px;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.btn-right {
  float: right;
}
.surface-list {
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 20px;
  font-size: 12px;
}
.photo_description {
  height: 100px;
  overflow: hidden;
  font-size: 12px;
}
