body {
  background-color: #f1f1f1;
}
.form-horizontal .control-label {
  text-align: left;
}
.table tbody tr td {
  background-color: #f6f7f8;
}
.table tbody tr td.name {
  background-color: #fff;
  width: 320px;
}
.glyphlink .glyphicon {
  color: #5cb85c;
  margin-right: 5px;
}
#js-photo-map-wrapper {
  display: none;
}
