input.error {
  background-color: #fffde0;
  border-color: #FF4646;
}
label.error {
  color: #FF4646;
  font-weight: lighter;
}
.errorlist {
  color: #FF4646;
}
#js-client-journal-add-form #id_clientorder {
  padding-left: 0;
  list-style: none;
}
.js-form-administrator-change ul#id_city {
  list-style: none;
  padding-left: 0;
}
.js-form-administrator-change input[type=checkbox] {
  height: auto;
  width: auto;
  display: initial;
}
