.modal_ticket {
  display: none;
}
#js-ajax-item-remove,
#js-ajax-item-update {
  display: none;
}
#js-modal-payment-add {
  display: none;
}
#js-modal-item-remove,
#js-modal-item-update {
  display: none;
}
#js-modal-street-remove,
#js-modal-street-update {
  display: none;
}
