<script>
ymaps.ready(init);
var myMap;

function init(){
  var city = '';
  var zoom = 3;
{% if current_city %}
  city = '{{ current_city.name }}';
  zoom = 6;
{% else %}
  city = '{{ city_list.first.name }}';
{% endif %}
  var coord = '';
  var myGeocoder = ymaps.geocode(city);
    myGeocoder.then(
      function (res) {
        coord = res.geoObjects.get(0).geometry.getCoordinates();
        myMap = new ymaps.Map("YMapsID", {
            center: coord,
            zoom: zoom
        });
      {% if current_city %}
        {% for surface in current_city.surface_set.all %}
        myMap.geoObjects.add(
            new ymaps.Placemark([{{ surface.coord_y|safe }}, {{ surface.coord_x|safe }}], {
            balloonContent: '{{ surface }} (кол-во стендов: {{ surface.porch_count }})',
            hintContent: '{{ surface }} (кол-во стендов: {{ surface.porch_count }})'
            })
        );
        {% endfor %}
      {% else %}
        {% for city in city_list %}
        myMap.geoObjects.add(
            new ymaps.Placemark([{{ city.coord_y|safe }}, {{ city.coord_x|safe }}], {
            balloonContent: '{{ city.name }} (кол-во поверхностей: {{ city.surface_count }})',
            hintContent: '{{ city.name }} (кол-во поверхностей: {{ city.surface_count }})'
            })
        );
        {% endfor %}
      {% endif %}

      }
    );

}
</script>