{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'ticket:list' %}">Заявки с сайта</a></li>
  <li class="active">{{ object }}</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">{{ object }}</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            {% if error %} <div class="alert alert-danger"> {{ error }} </div> {% endif %}
          </div>
          <form action="" role="form" class="js-form-ticket form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="col-md-6">
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
              </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-save">Сохранить</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}