{% extends 'cabinet_index.html' %}
{#{% block viewport %}#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <meta name="viewport" content="width=1200">#}
{#{% endblock %}#}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'work:list' %}">Список задач</a></li>
        <li><a href="{% url 'work:detail' object.adjustertasksurface.adjustertask.id %}">Список адресов задачи</a></li>
        <li><a href="{% url 'work:address-detail' object.adjustertasksurface.id %}">Список подъездов адреса</a></li>
        <li><a href="{% url 'work:porch-detail' object.id %}">Детализация подъезда №{{ object.porch.number|default:'--' }}</a></li>
        <li class="active">Загрузка фотографии</li>
      </ol>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Загрузка фотографии подъезда №{{ object.porch.number|default:'--' }}</p>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="task-list-item">
              <div class="col-lg-12">
                {% load widget_tweaks %}
                <form action="" role="form" id="js-surface-photo-update-form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.porch }}
                  <div class="col-lg-6">
                    <div class="form-group">
                      <div class="col-lg-5">{{ form.date.label_tag }}</div>
                      <div class="col-lg-7">{{ form.date }}</div>
                      {{ form.date.errors }}
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-5">{{ form.is_broken.label_tag }}</div>
                      <div class="col-lg-7">{{ form.is_broken }}</div>
                      {{ form.is_broken.errors }}
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-5">{{ form.image.label_tag }}</div>
                      <div class="col-lg-7">{{ form.image }}</div>
                      {{ form.image.errors }}
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-success">Загрузить фотографию</button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}