<a href="{{ back_to_list|default:'' }}" class="btn btn-default btn-sm add-bottom">
  <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
</a>
<div class="div add-bottom">
  <a href="{% url 'incoming:update' object.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Данные клиента
  </a>
  <a href="{% url 'incoming:contact-list' object.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-user"></span> Контактные лица
  </a>
  <a href="{% url 'incoming:history' object.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-briefcase"></span> Менеджер - история
  </a>
</div>