<div class="panel panel-default">
  <div class="panel-heading"><p class="lead remove-bottom text-center">Фотографии поверхностей</p></div>
  <div class="panel-body">

    <div class="address-list">
      <div class="row add-bottom">
        <div class="col-lg-12">
          <form action="" method="GET" role="form" id="js-address-filter-form" class="form-inline add-bottom">
            <select name="a_city" id="id_a_city_id" class="form-control input-sm">
              <option value="">Город</option>
              {% for city in object_list %}
              <option value="{{ city.id }}">{{ city.name }}</option>
              {% endfor %}
            </select>
            <select name="a_area" id="id_a_area_id" class="form-control input-sm">
              <option value="">Район</option>
            </select>
            <input type="text" id="a_street_id" name="a_street" placeholder="улица" class="form-control input-sm">
            <input type="text" name="start_date" id="id_start_date" placeholder="дата от" class="form-control input-sm" value="{{ start_date|default:'' }}">
            <input type="text" name="end_date" id="id_end_date" placeholder="дата до" class="form-control input-sm" value="{{ end_date|default:'' }}">
            <button class="btn btn-info btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span> Искать</button>
          </form>
        </div>
        <div class="col-lg-12">
          {% if show_broken %}
          <a href="{% url 'city:list' %}" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Показать целые</a>
          {% else %}
          <a href="{% url 'city:list' %}?broken=1" class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span> Показать повреждённые</a>
          {% endif %}
          {% if grid %}
            <a href="{% url 'city:list' %}" class="btn btn-info" title="Показать таблицей"><span class="glyphicon glyphicon-th-list"></span> Показать таблицей</a>
          {% else %}
            <a href="{% url 'city:list' %}?grid=1" class="btn btn-info" title="Показать плиткой"><span class="glyphicon glyphicon-th"></span> Показать плиткой</a>
          {% endif %}
          <a class="btn btn-info"><span class="glyphicon glyphicon-globe"></span> На карте</a>

        </div>
        <div class="clearfix"></div>
      </div>
    {% if grid %}
      <div class="row">
      {% for item in address_list %}
        <div class="col-lg-3">
          <div>
            <a href="{{ item.image.url }}" rel="group" class="js-gallery" title="{{ item.address }}, подъезд {{ item.porch.number }}">
              <img src="{{ item.image_resize.url }}" alt="{{ item.address }}, подъезд {{ item.porch.number }}">
            </a>
          </div>
          <div>
            <p>
              Адрес: {{ item.address }} <br>
              Подъезд: {{ item.porch.number }}, <br>
              Дата: {{ item.date }}
            </p>
          </div>
        </div>
      {% empty %}
        <div class="col-lg-12">
          <p class="alert alert-info">Фотографий не найдено</p>
        </div>
      {% endfor %}
        <div class="clearfix"></div>
      </div>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>Город</th>
            <th>Район</th>
            <th>Адрес</th>
            <th>Дом</th>
            <th>Подъезд</th>
            <th>Дата</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for item in address_list %}
        <tr {% if item.porch.damaged %}class="danger"{% endif %}>
          <td>{{ item.porch.surface.city.name }}</td>
          <td>{{ item.porch.surface.street.area.name }}</td>
          <td>{{ item.porch.surface.street.name }}</td>
          <td>{{ item.porch.surface.house_number }}</td>
          <td>{{ item.porch.number }}</td>
          <td>{{ item.date }}</td>
          <td><a href="{{ item.image.url }}" rel="group" class="js-gallery" title="{{ item.address }}, подъезд {{ item.porch.number }}">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">
            <p class="alert alert-info">Фотографий не найдено</p>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% include '__includes/pagination.html' with page_obj=address_list%}
    </div>
  </div>
</div>