<script>
ymaps.ready(function () {
{# todo: Переделать получение списка координат и подписей на AJAX request. Не использовать django шаблонизатор #}
    var photo_points = [{% for i in address_list %}[{{ i.porch.surface.coord_y|safe }}, {{ i.porch.surface.coord_x|safe }}],{% endfor %}];
    var photo_baloons = [{% for i in address_list %}['{{ i.porch.surface }}, {{ i.porch }}', '{{ i.image.url }}'],{% endfor %}];
    console.log(photo_points);
    console.log(photo_baloons);
    var myMap = new ymaps.Map('photoMap', {
            center: photo_points[0],
            zoom: 4,
            behaviors: ['default', 'scrollZoom']
        }, {
            searchControlProvider: 'yandex#search'
        }),
            clusterer = new ymaps.Clusterer({
            preset: 'islands#invertedVioletClusterIcons',
            groupByCoordinates: false,
            clusterDisableClickZoom: true,
            clusterHideIconOnBalloonOpen: false,
            geoObjectHideIconOnBalloonOpen: false
        }),
            getPointData = function (index) {
            return {
                balloonContentBody: '<strong>' + photo_baloons[index][0] + '</strong><br/><img src="' + photo_baloons[index][1] +'" style="width:150px"/>',
                clusterCaption: '<span>' + photo_baloons[index][0] + '</span>'
            };
        },
            getPointOptions = function () {
            return {
                preset: 'islands#violetIcon'
            };
        },
        points = photo_points,
        geoObjects = [];
    for(var i = 0, len = points.length; i < len; i++) {
        geoObjects[i] = new ymaps.Placemark(points[i], getPointData(i), getPointOptions());
    }
    clusterer.options.set({
        gridSize: 80,
        clusterDisableClickZoom: true
    });

    clusterer.add(geoObjects);
    myMap.geoObjects.add(clusterer);


{#    myMap.setBounds(clusterer.getBounds(), {#}
{#        checkZoomRange: true#}
{#    });#}
});
</script>