{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjustertask:list' %}">Список задач монтажников</a></li>
  <li class="active">Архив задач монтажников</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-8">
              Архив задач
            </div>
            <div class="col-md-4">
              <a href="{% url 'adjustertask:list' %}" class="btn btn-add page-top__btn">
                <span class="glyphicon glyphicon-folder-open"></span>  Список актуальных задач
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          {% include '__cabinet/filter_button.html' %}
          <form action="" method="get" class="form form-filter" id="js-adjuster-task-filter-form" role="form">
              {% load widget_tweaks %}
            <div class="col-md-12">
              <div class="five-col-1">
                {{ filter_form.city.label_tag }}
                {% if user.type == 4 %}
                  {{ filter_form.city|attr:'disabled:disabled' }}
                {% else %}
                  {{ filter_form.city }}
                {% endif %}
              </div>
              <div class="five-col-1">
                {{ filter_form.adjuster.label_tag }}
                {% if user.type == 4 %}
                  {{ filter_form.adjuster|attr:'disabled:disabled' }}
                {% else %}
                  {{ filter_form.adjuster }}
                {% endif %}
              </div>
              <div class="five-col-1">
                {{ filter_form.type.label_tag }}
                {{ filter_form.type }}
              </div>
              <div class="five-col-1">
                {{ filter_form.date_s.label_tag }}
                {{ filter_form.date_s }}
              </div>
              <div class="five-col-1">
                {{ filter_form.date_e.label_tag }}
                {{ filter_form.date_e }}
              </div>
              <div class="five-col-1">
                <input type="submit" class="btn btn-search" value="Искать">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed table-bordered table-list">
            <thead>
              <tr>
                <th>Название</th>
                <th>Монтажник</th>
                <th>Город</th>
                <th>Тип задачи</th>
                <th>Комментарий</th>
                <th>Дата задачи</th>
                <th>Кол-во адресов</th>
                <th>Кол-во стендов</th>
                <th>Стоимость работы, руб</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for object in object_list %}
              <tr data-id="{{ object.id }}" data-name="{{ object }}" data-model="AdjusterTask" id="id_AdjusterTask_{{ object.id }}">
                <td><a href="{% url 'adjustertask:update' object.id %}" >{{ object }}</a></td>
                <td><a href="{% url 'adjuster:change' object.adjuster.id %}" >{{ object.adjuster.user.get_full_name|default:'--' }}</a></td>
                <td>{{ object.adjuster.city.name|default:'--' }}</td>
                <td>{{ object.get_type_display|default:'--' }}</td>
                <td>{{ object.comment|default:'--' }}</td>
                <td>{{ object.date|default:'--' }}</td>
                <td>{{ object.adjustertasksurface_set.all.count|default:'0' }}</td>
                <td>{{ object.get_porch_count }}</td>
                <td>{{ object.get_total_cost }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-AdjusterTask-{{ object.id }}" class="btn btn-danger js-ajax-remove-btn">
                    Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="9">
                    <p class="alert alert-info text-left">Задач не найдено</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}

{% endblock %}