{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}adjustertask/js/adjustertask.js"></script>
{% endblock %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjustertask:list' %}">Список задач монтажников</a></li>
  <li class="active">Добавление задачи для монтажника</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'adjustertask/__include/adjustertask_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Добавление задачи по адресам</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <form action="" role="form" id="js-adjustertask-area-add" class="form" method="post">
              {% csrf_token %}
              <div class="col-md-12">
                <p class="lead text-info">Форма добавления задачи</p>
              </div>
              <div class="col-md-6">
                <div class="form-group" data-ajax-url="{% url 'city:get_area_list' %}">
                  {{ form.city.label_tag }}
                  {{ form.city }}
                  {{ form.city.errors }}
                </div>
                <div class="form-group hide">
                  {{ form.adjuster.label_tag }}
                  {{ form.adjuster }}
                  {{ form.adjuster.errors }}
                </div>
                <div class="form-group">
                  {{ form.type.label_tag }}
                  {{ form.type }}
                  {{ form.type.errors }}
                </div>
                <div class="form-group">
                  {{ form.date.label_tag }}
                  {{ form.date }}
                  {{ form.date.errors }}
                </div>
                <div class="form-group hide" data-surface-url="{% url 'city:get_area_surface_list' %}" data-damaged="0">
                  {{ form.area.label_tag }}
                  {{ form.area }}
                  {{ form.area.errors }}
                </div>
              </div>
              <div class="col-md-6">
                {{ form.comment.label_tag }}
                {{ form.comment }}
                {{ form.comment.errors }}
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="select_all" id="js-select-all" value=""></th>
                      <th>Город</th>
                      <th>Район</th>
                      <th>Улица</th>
                      <th>Номер дома</th>
                      <th>Кол-во подъездов</th>
                      <th>Без повреждений, №</th>
                      <th>С повреждениями, №</th>
                    </tr>
                  </thead>
                  <tbody class="js-task-surface-list">
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <input type="submit" value="Добавить задачу" class="btn btn-save">
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}