{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Список задач</p>
        </div>
        <div class="panel-body">
          <a href="{% url 'adjustertask:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить задачу
          </a>
          <div class="col-lg-12">
            {% load tasks %}
            {% if months %}
              <div class="add-bottom panel panel-success">
                <div class="panel-heading js-calendar-heading">
                  Календарь монтажных работ <span class="caret"></span>
                </div>
                <div class="panel-body js-calendar-body">
              {% for date in months %}
                  <div class="calendar col-lg-3 add-bottom">
                  {% calendar date.year date.month %}
                  </div>
              {% endfor %}
                  <div class="clearfix"></div>
                </div>
              </div>
            {% endif %}
          </div>
          <div>
            <form action="" method="get" class="inline-form add-bottom" id="js-adjuster-task-filter-form" role="form">
              <div class="col-lg-2">
                {{ filter_form.city.label_tag }}
                {{ filter_form.city }}
              </div>
              <div class="col-lg-2">
                {{ filter_form.adjuster.label_tag }}
                {{ filter_form.adjuster }}
              </div>
              <div class="col-lg-2">
                {{ filter_form.type.label_tag }}
                {{ filter_form.type }}
              </div>
              <div class="col-lg-2">
                {{ filter_form.date_s.label_tag }}
                {{ filter_form.date_s }}
              </div>
              <div class="col-lg-2">
                {{ filter_form.date_e.label_tag }}
                {{ filter_form.date_e }}
              </div>
              <div class="col-lg-2"><br>
                <input type="submit" value="Искать" class="btn btn-info">
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Название</th>
                <th>Монтажник</th>
                <th>Город</th>
                <th>Тип задачи</th>
                <th>Дата выполнения</th>
                <th>Кол-во адресов</th>
                <th>Кол-во стендов</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for object in object_list %}
              <tr data-id="{{ object.id }}" data-name="{{ object }}" data-model="AdjusterTask" id="id_AdjusterTask_{{ object.id }}">
                <td><a href="{% url 'adjustertask:update' object.id %}" >{{ object }}</a></td>
                <td>{{ object.adjuster.user.get_full_name|default:'--' }}</td>
                <td>{{ object.adjuster.city.name|default:'--' }}</td>
                <td>{{ object.get_type_display|default:'--' }}</td>
                <td>{{ object.date|default:'--' }}</td>
                <td>{{ object.adjustertasksurface_set.all.count|default:'0' }}</td>
                <td>{{ object.get_porch_count }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-AdjusterTask-{{ object.id }}" class="btn btn-danger js-ajax-remove-btn">
                    Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="7">
                    <p class="alert alert-info">Задач не найдено</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}