{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  {% include 'adjustertask/__include/map-task.html' %}
{% endblock %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjustertask:list' %}">Список задач монтажников</a></li>
        <li class="active">Редактирование задачи монтажника</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <a href="{{ back_to_list|default:'' }}" class="btn btn-default btn-sm add-bottom">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
      </a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">
              Задача для монтажника на {{ object.date }}
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
          {% if object.sent %}
            <div class="alert alert-warning">
              <p>
                Вы не можете вносить изменения в задачу, так как она уже отправлена монтажнику. <br>
                Вы можете вносить изменения только если переназначите задачу другому монтажнику.
              </p>
            </div>
          {% endif %}
            <div class="add-bottom panel panel-success">
              <div class="panel-heading js-map-task-heading">
                Карта монтажных работ <span class="caret"></span>
              </div>
              <div class="panel-body js-map-task-body">
                <div id="tasksMap" style="height: 500px;"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
          {% if error %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {%  endif %}
          {% if success %}
            <div class="alert alert-success">
              {{ success }}
            </div>
          {% endif %}

            <form action="." role="form" class="form" id="js-adjuster-client_task-update-form" method="post" data-client-ajax-url="{% url 'adjustertask:client-ajax' %}">
              {% csrf_token %}
              {% load widget_tweaks %}
              <div class="col-md-12">
                <p class="lead text-info">Информация по задаче</p>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ adjuster_task_form.adjuster.label_tag }}
                  {% if user.type == 4 %}
                  {{ adjuster_task_form.adjuster|attr:'disabled:disabled' }}
                  {% else %}
                  {{ adjuster_task_form.adjuster }}
                  {% endif %}
                  {{ adjuster_task_form.adjuster.errors }}
                </div>
                <div class="form-group">
                  {{ adjuster_task_form.type.label_tag }}
                  {% if user.type == 4 %}
                  {{ adjuster_task_form.type|attr:'disabled:disabled' }}
                  {% else %}
                    {% if object.sent %}
                    <strong>{{ object.get_type_display }}</strong>
                    {% endif %}
                    {{ adjuster_task_form.type }}
                  {% endif %}
                  {{ adjuster_task_form.type.errors }}
                </div>
                <div class="form-group">
                  {{ adjuster_task_form.date.label_tag }}
                  {% if user.type == 4 %}
                  {{ adjuster_task_form.date|attr:'disabled:disabled' }}
                  {% else %}
                    {% if object.sent %}
                    <strong>{{ object.date|date:'d.m.Yг.' }}</strong>
                    {% endif %}
                    {{ adjuster_task_form.date }}
                  {% endif %}
                  {{ adjuster_task_form.date.errors }}
                </div>
                <div class="form-group">
                  {{ adjuster_task_form.is_closed.label_tag }}
                  {{ adjuster_task_form.is_closed }}
                  {{ adjuster_task_form.is_closed.errors }}
                </div>
                <div class="form_group">
                  <label>Итоговое количество стендов - {{ object.get_porch_count }}</label>
                </div>
              </div>
              <div class="col-md-6 add-bottom">
                {{ adjuster_task_form.comment.label_tag }}
                {% if user.type == 4 %}
                {{ adjuster_task_form.comment|attr:'disabled:disabled' }}
                {% else %}
                  {% if object.sent %}
                    <p>{{ object.comment|safe|linebreaksbr|default:'Не указано' }}</p>
                  {% endif %}
                  {{ adjuster_task_form.comment }}
                {% endif %}
                {{ adjuster_task_form.comment.errors }}
              </div>
              <div class="col-md-12">
                <table class="table table-condensed table-bordered table-list">
                  <thead>
                    <tr>
                      <th>Город</th>
                      <th>Район</th>
                      <th>Улица</th>
                      <th>Номер дома</th>
                      <th>Кол-во стендов</th>
                      <th>Номера подъездов</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="js-task-surface-list">
                  {% for ats in task_surface_list %}
                    <tr class="js-list{% if ats.is_closed %} success{% endif %}"  data-id="{{ ats.id }}" data-name="{{ ats }} из задачи" data-model="AdjusterTaskSurface" id="id_AdjusterTaskSurface_{{ ats.id }}">
                      <td>{{ ats.surface.street.city }}</td>
                      <td>{{ ats.surface.street.area }}</td>
                      <td>{{ ats.surface.street.name }}</td>
                      <td>{{ ats.surface.house_number }}</td>
                      <td>{{ ats.adjustertasksurfaceporch_set.count }} {{ ats.get_closed_porch_count }}/{{ ats.get_porch_count }}</td>
                      <td>
                        {% for atsp in ats.adjustertasksurfaceporch_set.all %}
                          <span{% if atsp.is_closed %} style="background: greenyellow"{% endif %}>{{ atsp.porch.number }}{% if not forloop.last %}, {% endif %}</span>
                        {% endfor %}
                      </td>
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-AdjusterTaskSurface-{{ ats.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span> Удалить
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="7">
                        <p class="alert alert-info text-left">Адресов не найдено</p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% include '__includes/pagination.html' with page_obj=task_surface_list %}
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-save">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}