<nav class="navbar navbar-default">
  <div class="welcome">
    <div class="col-lg-6">
      <div class="navbar-header">
        <a href="{% url 'cabinet:cabinet' %}" class="navbar-brand">Контроль рекламных поверхностей</a>
      </div>
    </div>
    <div class="col-lg-6 text-right">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'cabinet:profile' %}">Добро пожаловать <span class="glyphicon glyphicon-user"></span> {{ user }} </a></li>
        <li><a href="{% url 'cabinet:logout' %}?next={% url 'cabinet:cabinet' %}"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="container-fluid">
{#    <div class="navbar-header">#}
{#      <a class="navbar-brand" href="#">Контроль рекламных поверхностей</a>#}
{#    </div>#}
    <div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'cabinet:cabinet' %}">Рабочий стол</a></li>
        <li class="dropdown">
          <a href="{% url 'manager:list' %}" class="dropdown-toggle" data-toggle="dropdown">CRM <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'manager:list' %}">Список менеджеров</a></li>
            <li><a href="{% url 'manager:add' %}">Добавить менеджера</a></li>
          </ul>
        </li>
      {% if user.type == 1 %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Администраторы <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'administrator:list' %}">Список администраторов</a></li>
            <li><a href="{% url 'administrator:add' %}">Добавить администратора</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Модераторы <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'moderator:list' %}">Список модераторов</a></li>
            <li><a href="{% url 'moderator:add' %}">Добавить модератора</a></li>
          </ul>
        </li>
      {% endif %}

        <li class="dropdown">
          <a href="{% url 'city:list' %}" class="dropdown-toggle" data-toggle="dropdown">Города <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'city:list' %}">Список городов</a></li>
            {% if user.type == 1 %}
            <li><a href="{% url 'city:add' %}">Добавить город</a></li>
            {% endif %}

          </ul>
        </li>

        <li class="dropdown">
          <a href="{% url 'surface:list' %}" class="dropdown-toggle" data-toggle="dropdown">Поверхности <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'surface:list' %}">Список поверхностей</a></li>
            <li><a href="{% url 'surface:add' %}">Добавить рекламную поверхность</a></li>
            <li><a href="{% url 'city:management-company' %}">Управляющие компании</a></li>
            <li><a href="{% url 'city:management-company-add' %}">Добавить управляющую компанию</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{% url 'client:list' %}" class="dropdown-toggle" data-toggle="dropdown">Клиенты <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'client:list' %}">Список клиентов</a></li>
            <li><a href="{% url 'client:add' %}">Добавить клиента</a></li>
            <li><a href="{% url 'journal:list' %}">Журнал покупок</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{% url 'adjuster:list' %}" class="dropdown-toggle" data-toggle="dropdown">Монтажники <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'adjuster:list' %}">Список монтажников</a></li>
            <li><a href="{% url 'adjuster:add' %}">Добавить монтажника</a></li>
            <li><a href="{% url 'adjustertask:list' %}">Список задач</a></li>
            <li><a href="{% url 'adjustertask:add' %}">Добавить задачу</a></li>
            <li><a href="{% url 'adjustertask:archive' %}">Архив задач</a></li>
          </ul>
        </li>
      </ul>
{#      <ul class="nav navbar-nav navbar-right">#}
{#        <li><a href="{% url 'cabinet:profile' %}"> <span class="glyphicon glyphicon-user"></span> {{ user }} </a></li>#}
{#        <li><a href="{% url 'cabinet:logout' %}?next={% url 'cabinet:cabinet' %}"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>#}
{#      </ul>#}
    </div>
  </div>
</nav>