{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'client:list' %}">Список продаж</a></li>
  <li class="active">Журнал поступлений</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">
              Журнал поступлений <span>/ {{ page_obj.paginator.count|default:'0' }}</span> <span>/ {{ payments_sum|default:'0' }}руб.</span>
            </div>
            <div class="clearfix"></div>
          </div>
          {% include '__cabinet/filter_button.html' %}
          <form action="" method="GET" role="form" class="form form-filter">
            <div class="col-md-12">
              <div class="five-col-1">
                <select name="city" id="" class="form-control input-sm">
                  <option value="">-- Город --</option>
                  {% for city in city_list %}
                  <option value="{{ city.id }}" {% if city.id == r_city %}selected="selected"{% endif %}>{{ city.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="five-col-1">
                <input type="text" name="date_s" autocomplete="off" value="{{ r_date_s|default:'' }}" id="js-journal-filter-date_s" class="form-control input-sm" placeholder="Дата от">
              </div>
              <div class="five-col-1">
                <input type="text" name="date_e" autocomplete="off" value="{{ r_date_e|default:'' }}" id="js-journal-filter-date_e" class="form-control input-sm" placeholder="Дата до">
              </div>
              <div class="five-col-2">
                <input type="text" name="legal_name" value="{{ r_legal_name|default:'' }}" class="form-control input-sm" placeholder="Юридическое название">
              </div>
              <div class="five-col-1">
                <select name="manager" id="" class="form-control input-sm" {% if user.type == 5 and not user.is_leader_manager %}disabled="disabled"{% endif %}>
                  <option value="">-- Менеджер --</option>
                  {% for manager in manager_list %}
                  <option value="{{ manager.id }}" {% if manager.id == r_manager %}selected="selected"{% endif %}>{{ manager.user.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="five-col-1">
                <input type="submit" class="btn btn-search">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </form>

        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed table-bordered table-list">
            <thead>
              <tr>
                <th>Юридическое название</th>
                <th>Менеджер</th>
                <th>Продажа</th>
                <th>Сумма поступления</th>
                <th>Дата поступления</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for item in object_list %}
              <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientJournalPayment" id="id_ClientJournalPayment_{{ item.id }}">
                <td>{{ item.client.legal_name|default:'Не указано' }}</td>
                <td>{{ item.client.manager|default:'Не указано' }}</td>
                <td>{{ item.clientjournal|default:'Не указано' }}</td>
                <td>{{ item.sum|default:'Не указано' }}</td>
                <td>{{ item.created|default:'Не указано' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientJournalPayment-{{ item.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6">
                  <p class="alert alert-info text-left">Поступлений не найдено</p>
                </td>
              </tr>
              {% endfor %}
              <tr></tr>
            </tbody>
          </table>
          {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}

{% endblock %}