{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Журнал покупок</p>
        </div>
        <div class="panel-body">
          <p class="lead">Общая стоимость всех покупок: <strong>{{ total_cost }}</strong> руб.</p>
          <form action="" method="GET" role="form" class="form-inline">
            <select name="city" id="" class="form-control input-sm">
              <option value="">Город</option>
              {% for city in city_list %}
              <option value="{{ city.id }}" {% if city.id == r_city %}selected="selected"{% endif %}>{{ city.name }}</option>
              {% endfor %}
            </select>
            <input type="text" name="date_s" value="{{ r_date_s|default:'' }}" id="js-journal-filter-date_s" class="form-control input-sm" placeholder="Дата от">
            <input type="text" name="date_e" value="{{ r_date_e|default:'' }}" id="js-journal-filter-date_e" class="form-control input-sm" placeholder="Дата до">
            <input type="text" name="legal_name" value="{{ r_legal_name|default:'' }}" class="form-control input-sm" placeholder="Юридическое название">
            <select name="manager" id="" class="form-control input-sm" {% if user.type == 5 %}disabled="disabled"{% endif %}>
              <option value="">Менеджер</option>
              {% for manager in manager_list %}
              <option value="{{ manager.id }}" {% if manager.id == r_manager %}selected="selected"{% endif %}>{{ manager.user.get_full_name }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-search"></span> Искать</button>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Юридическое название</th>
                <th>Менеджер</th>
                <th>Заказ</th>
                <th>Цена за стенд, руб</th>
                <th>Наценка, %</th>
                <th>Скидка, %</th>
                <th>Количество стендов</th>
                <th>Полная стоимость, руб</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for item in object_list %}
              <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientJournal" id="id_ClientJournal_{{ item.id }}">
                <td>{{ item.client.legal_name|default:'Не указано' }}</td>
                <td>{{ item.client.manager|default:'Не указано' }}</td>
                <td>
                  {% if item.clientorder.all %}
                  {% for order in item.clientorder.all %}
                  {{ order|default:'Не указано' }}{% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                  {% endif %}
                </td>
                <td>{{ item.cost|default:'Не указано' }}</td>
                <td>{{ item.add_cost|default:'Не указано' }}</td>
                <td>{{ item.discount|default:'Не указано' }}</td>
                <td>{{ item.clientorder.stand_count|default:'Не указано' }}</td>
                <td>{{ item.total_cost|default:'Не указано' }}</td>
                <td>
                  <a href="{% url 'client:journal-export' item.id %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-download-alt"></span> Скачать в EXCEL
                  </a>
                </td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientJournal-{{ item.id }}" class="btn btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="9">
                  <p class="alert alert-info">Покупок не найдено</p>
                </td>
              </tr>
              {% endfor %}
              <tr></tr>
            </tbody>
          </table>
          {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}