{% extends 'cabinet_index.html' %}
{% load static %}
{% block content %}
<div class="container dashboard">
  <div class="col-md-12">
    <div class="panel panel-dashboard">
      <div class="panel-heading">CRM - система управления клиентами</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'incoming:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_list.png' %}" alt="Список клиентов">
              </div>
              <span class="dashboard__link_text">Список клиентов</span>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'incoming:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_add.png' %}" alt="Добавить нового клиента">
              </div>
              <span class="dashboard__link_text">Добавить нового клиента</span>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'incoming:task-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_task_list.png' %}" alt="Журнал задач по клиентам">
              </div>
              <span class="dashboard__link_text">Журнал задач по клиентам</span>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'incoming:task-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_task_add.png' %}" alt="Добавить новую задачу по клиенту">
              </div>
              <span class="dashboard__link_text">Добавить новую задачу по клиенту</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-dashboard">
      <div class="panel-heading">Продажи</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'client:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/client_list.png' %}" alt="Список продаж">
              </div>
              <span class="dashboard__link_text">Список продаж</span>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'client:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/client_add.png' %}" alt="Добавить новую продажу">
              </div>
              <span class="dashboard__link_text">Добавить новую продажу</span>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'journal:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/journal_list.png' %}" alt="Журнал продаж">
              </div>
              <span class="dashboard__link_text">Журнал продаж</span>
            </a>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{% url 'journal:payment-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/clientjournalpayment_list.png' %}" alt="Журнал поступлений">
              </div>
              <span class="dashboard__link_text">Журнал поступлений</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-dashboard">
      <div class="panel-heading">Рекламные поверхности</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-sm-4 col-xs-6">
            <a href="{% url 'surface:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/surface_list.png' %}" alt="Список поверхностей">
              </div>
              <span class="dashboard__link_text">Список поверхностей</span>
            </a>
          </div>
          <div class="col-md-6 col-sm-4 col-xs-6">
            <a href="{% url 'surface:photo-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/surface_photo.png' %}" alt="Фотографии поверхностей">
              </div>
              <span class="dashboard__link_text">Фотографии поверхностей</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}