{% extends 'cabinet_index.html' %}
{% load static %}
{% block content %}
<div class="container dashboard">
  <div class="col-lg-12">
    <div class="panel panel-dashboard">
      <div class="panel-heading">Города, адреса и рекламные поверхности</div>
      <div class="panel-body">
        <div class="row">
        {% if user.type == 6 %}
          <div class="col-lg-2">
            <a href="{% url 'moderator:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/moderator_list.png' %}" alt="Список модераторов">
              </div>
              <span class="dashboard__link_text">Список модераторов</span>
            </a>
          </div>
        {% else %}
          {% if user.type != 5 %}
          <div class="col-lg-2">
            <a href="{{ user.get_absolute_url|default:'' }}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/moderator_list.png' %}" alt="Данные модератора">
              </div>
              <span class="dashboard__link_text">Данные модератора</span>
            </a>
          </div>
          {% endif %}
        {% endif %}
          <div class="col-lg-2">
            <a href="{% url 'city:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/city_list.png' %}" alt="Список городов">
              </div>
              <span class="dashboard__link_text">Список городов</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'surface:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/surface_list.png' %}" alt="Список поверхностей">
              </div>
              <span class="dashboard__link_text">Список поверхностей</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'surface:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/surface_add.png' %}" alt="Добавить новую поверхность">
              </div>
              <span class="dashboard__link_text">Добавить новую поверхность</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'city:management-company' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/UK_list.png' %}" alt="Список управляющих компаний">
              </div>
              <span class="dashboard__link_text">Список управляющих компаний</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'city:management-company-add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/UK_add.png' %}" alt="Добавить новую управляющую компанию">
              </div>
              <span class="dashboard__link_text">Добавить новую управляющую компанию</span>
            </a>
          </div>
        {% if user.type == 5 %}
          <div class="col-lg-2">
            <a href="{% url 'surface:photo-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/surface_photo.png' %}" alt="Фотографии поверхностей">
              <div class="dashboard__link-icon">
              <span class="dashboard__link_text">Фотографии поверхностей</span>
            </a>
          </div>
        {% endif %}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-dashboard">
      <div class="panel-heading">CRM - система управления клиентами</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2">
            <a href="{% url 'manager:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/manager_list.png' %}" alt="Список менеджеров">
              </div>
              <span class="dashboard__link_text">Список менеджеров</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'manager:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/manager_add.png' %}" alt="Добавить нового менеджера">
              </div>
              <span class="dashboard__link_text">Добавить нового менеджера</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'incoming:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_list.png' %}" alt="Список клиентов">
              </div>
              <span class="dashboard__link_text">Список клиентов</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'incoming:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_add.png' %}" alt="Добавить нового клиента">
              </div>
              <span class="dashboard__link_text">Добавить нового клиента</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'incoming:task-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_task_list.png' %}" alt="Журнал задач по клиентам">
              </div>
              <span class="dashboard__link_text">Журнал задач по клиентам</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'incoming:task-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/incoming_task_add.png' %}" alt="Добавить новую задачу по клиенту">
              </div>
              <span class="dashboard__link_text">Добавить новую задачу по клиенту</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-dashboard">
      <div class="panel-heading">Работа с монтажниками</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2">
            <a href="{% url 'adjuster:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/adjuster_list.png' %}" alt="Список монтажников">
              </div>
              <span class="dashboard__link_text">Список монтажников</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'adjuster:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/adjuster_add.png' %}" alt="Добавить нового монтажника">
              </div>
              <span class="dashboard__link_text">Добавить нового монтажника</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'adjustertask:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/adjustertask_list.png' %}" alt="Список задач">
              </div>
              <span class="dashboard__link_text">Список задач</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'adjustertask:client-add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/adjustertask_add.png' %}" alt="Добавить новую задачу">
              </div>
              <span class="dashboard__link_text">Добавить <br> новую задачу</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'adjustertask:archive' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/adjustertask_archive.png' %}" alt="Архив задач">
              </div>
              <span class="dashboard__link_text">Архив задач</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'adjuster:report' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/adjuster_report.png' %}" alt="Отчёты по монтажнкам">
              </div>
              <span class="dashboard__link_text">Отчёты по монтажнкам</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-12">
    <div class="panel panel-dashboard">
      <div class="panel-heading">Продажи</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2">
            <a href="{% url 'client:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/client_list.png' %}" alt="Список продаж">
              </div>
              <span class="dashboard__link_text">Список продаж</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'client:add' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/client_add.png' %}" alt="Добавить новую продажу">
              </div>
              <span class="dashboard__link_text">Добавить новую продажу</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'journal:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/journal_list.png' %}" alt="Журнал продаж">
              </div>
              <span class="dashboard__link_text">Журнал продаж</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'journal:payment-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/clientjournalpayment_list.png' %}" alt="Журнал поступлений">
              </div>
              <span class="dashboard__link_text">Журнал поступлений</span>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url 'manager:report' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/manager_report.png' %}" alt="Журнал поступлений">
              </div>
              <span class="dashboard__link_text">Отчёты по менеджерам</span>
            </a>
          </div>
        {% if user.type == 2 or user.type == 6%}
          <div class="col-lg-2">
            <a href="{% url 'surface:photo-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/surface_photo.png' %}" alt="Фотографии поверхностей">
              </div>
              <span class="dashboard__link_text">Фотографии поверхностей</span>
            </a>
          </div>
        {% endif %}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="panel panel-dashboard">
      <div class="panel-heading">Сайт</div>
      <div class="panel-body">
        <div class="row">
          {% if user.type != 5 %}
          <div class="col-lg-3">
            <a href="{% url 'setup-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/site_settings.png' %}" alt="Настройки сайта">
              </div>
              <span class="dashboard__link_text">Настройки сайта</span>
            </a>
          </div>
          {% endif %}
          <div class="col-lg-3">
            <a href="{% url 'block-list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/site_blocks.png' %}" alt="Блоки сайта">
              </div>
              <span class="dashboard__link_text">Блоки сайта</span>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="{% url 'ticket:list' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/site_task.png' %}" alt="Заявки с сайта">
              </div>
              <span class="dashboard__link_text">Заявки с сайта</span>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="{% url 'city:report' %}" class="dashboard__link">
              <div class="dashboard__link-icon">
                <img src="{% static 'icon/city_report.png' %}" alt="Отчёты по городам">
              </div>
              <span class="dashboard__link_text">Отчёты по городам</span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}