<form action="{% url 'cabinet:password_change' %}" role="form" class="js-form-password-change" method="post">
  {% csrf_token %}
    <input type="hidden" name="user_id" class="form-control" value="{{ user_id }}">
    <p>
      <label for="password1">Новый пароль:</label>
      <input type="password" name="password1" class="form-control">
    </p>
    <p>
      <label for="password2">Повторите пароль:</label>
      <input type="password" name="password2" class="form-control">
    </p>
    <button type="submit" class="btn btn-default">Изменить пароль</button>
</form>