{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            {{ object }} клиента "{{ object.client.legal_name }}"
          </p>
        </div>
        <div class="panel-body">
        {% if object.is_closed %}
          <p class="lead add-bottom text-center">Заказ закрыт</p>
        {% else %}
          <form action="" id="js-client-update-order-form" method="post" role="form" class="add-bottom">
            {% csrf_token %}
            <div class="col-lg-6">
              {{ order_form.client }}
              <div class="form-group">
                <p class="lead add-bottom">Редактировать заказ</p>
                <div class="col-lg-5">{{ order_form.date_start.label_tag }}</div>
                <div class="col-lg-7">{{ order_form.date_start }}</div>
                {{ order_form.date_start.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ order_form.date_end.label_tag }}</div>
                <div class="col-lg-7">{{ order_form.date_end }}</div>
                {{ form.date_end.errors }}
                <div class="clearfix"></div>
              </div>
              <input type="submit" value="Сохранить изменения" class="btn btn-default">
            </div>
            <div class="clearfix"></div>
          </form>
          <div class="col-lg-12">
            <p class="lead">Добавление адресов к заказу</p>
          </div>

          <form action="{% url 'client:add-client-surface' %}" id="js-order-surface-add-form" method="post" role="form">
          {% csrf_token %}
            <div class="col-lg-6">
              <input type="hidden" name="cos_client" id="id_cos_client" value="{{ client.id }}">
              <input type="hidden" name="cos_order" id="id_cos_order" value="{{ object.id }}">
            </div>
            <div class="col-lg-10">
              <div class="form-group">
                <div class="col-lg-3"><label for="cos_area">Выберите район:</label></div>
                <div class="col-lg-4">
                  <select name="cos_area" id="id_cos_area" class="form-control" data-ajax-url="{% url 'city:get_free_area_surface' %}" data-client-order="{{ object.id }}">
                    <option value="">---- выберите район ----</option>
                  {% for area in area_list %}
                    <option value="{{ area.id }}">{{ area.name }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="surface-list js-surface-list">
                  <table class="table">
                    <thead>
                    <tr>
                      <th><input type="checkbox" id="js-select-all" value="">
                      </th>
                      <th>Название улицы</th>
                      <th>Номер дома</th>
                      <th>Кол-во стендов</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <p class="lead">
                  Количество стендов: <span id="js-selected-surface-porch-count">0</span>
                </p>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
              <input type="submit" class="btn btn-default add-bottom" value="Добавить адреса к заказу">
            </div>
          </form>
        {% endif %}
          <div class="col-lg-12 surface-list">
            <table class="table table-hover table-condensed table-bordered table-list">
              <thead>
                <tr>
                  <th>Район</th>
                  <th>Улица</th>
                  <th>Номер дома</th>
                  <th>Количество подъездов</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="js-list">
                {% for item in object.clientordersurface_list %}
                <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientOrderSurface" id="id_ClientOrderSurface_{{ item.id }}">
                  <td>{{ item.surface.street.area.name|default:'Не указано' }}</td>
                  <td>{{ item.surface.street.name|default:'Не указано' }}</td>
                  <td>{{ item.surface.house_number|default:'Не указано' }}</td>
                  <td>{{ item.num_porch|default:'0' }}</td>
                  <td>
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientOrderSurface-{{ item.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn" {% if object.is_closed %}disabled="disabled" {% endif %}>
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                    <p class="alert alert-info text-left">Адресов не найдено</p>
                  </td>
                </tr>
                {% endfor %}
                <tr></tr>
              </tbody>
            </table>

          </div>
          <div class="col-lg-12">
            <p class="lead">
              Количество стендов в заказе: {{ object.stand_count|default:'0' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}