{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            Редактирование {{ object }}
          </p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
          {% if error %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {%  endif %}
          {% if success %}
            <div class="alert alert-success">
              {{ success }}
            </div>
          {% endif %}
            <form action="." role="form" class="js-form-client-update" method="post">
              {% csrf_token %}
              <div class="col-lg-6">
                <p>
                  <label for="city">Город:</label>
                  <select name="city" id="" class="form-control">
                    {% for city in city_list %}
                    <option value="{{ city.id }}" {% if city.id == object.city.id %}selected="selected"{% endif %}>{{ city.name|default:'' }}</option>
                    {% endfor %}
                  </select>
                </p>
                <p>
                  <label for="email">Адрес электронной почты:</label>
                  <input type="email" name="email" class="form-control" value="{{ object.user.email }}">
                </p>
                <p>
                  <label for="password1">Пароль:</label>
                  <input type="password" name="password1" class="form-control">
                </p>
                <p>
                  <label for="password2">Подтверждение пароля:</label>
                  <input type="password" name="password2" class="form-control">
                </p>
                <p>
                  <label for="last_name">Фамилия:</label>
                  <input type="text" name="last_name" class="form-control" value="{{ object.user.last_name|default:'' }}">
                </p>
                <p>
                  <label for="first_name">Имя:</label>
                  <input type="text" name="first_name" class="form-control" value="{{ object.user.first_name|default:'' }}">
                </p>
                <p>
                  <label for="patronymic">Отчество:</label>
                  <input type="text" name="patronymic" class="form-control" value="{{ object.user.patronymic|default:'' }}">
                </p>
              </div>
              <div class="col-lg-6">
                <p>
                  <label for="legal_name">Юридическое наименование:</label>
                  <input type="text" name="legal_name" class="form-control" value="{{ object.legal_name|default:'' }}">
                </p>
                <p>
                  <label for="actual_name">Фактическое наименование:</label>
                  <input type="text" name="actual_name" class="form-control" value="{{ object.actual_name|default:'' }}">
                </p>
                <p>
                  <label for="inn">ИНН:</label>
                  <input type="text" name="inn" class="form-control"  value="{{ object.inn|default:'' }}">
                </p>
                <p>
                  <label for="kpp">КПП:</label>
                  <input type="text" name="kpp" class="form-control"  value="{{ object.kpp|default:'' }}">
                </p>
                <p>
                  <label for="legal_address">Фактический адрес:</label>
                  <input type="text" name="legal_address" class="form-control" value="{{ object.legal_address|default:'' }}">
                </p>
                <p>
                  <label for="leader">Руководитель:</label>
                  <input type="text" name="leader" class="form-control"  value="{{ object.leader|default:'' }}">
                </p>
                <p>
                  <label for="leader_function">Должность руководителя:</label>
                  <input type="text" name="leader_function" class="form-control"  value="{{ object.leader_function|default:'' }}">
                </p>
                <p>
                  <label for="work_basis">Основание для работы:</label>
                  <input type="text" name="work_basis" class="form-control" value="{{ object.work_basis|default:'' }}">
                </p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-default">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}