{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'client:list' %}">Список продаж</a></li>
  <li class="active">Редактирование продажи</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'client/__include/client_menu.html' with client=object %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Журнал продаж</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row add-bottom">
            <form action="" method="post" id="js-client-journal-add-form" class="form" role="form">
              {% csrf_token %}
              <div class="col-md-6">
                <div class="form-group">
                  {{ clientjournal_form.client }}
                  {{ clientjournal_form.clientorder.label_tag }}
                  {{ clientjournal_form.clientorder }}
                  {{ clientjournal_form.clientorder.errors }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ clientjournal_form.cost.label_tag }}
                  {{ clientjournal_form.cost }}
                  {{ clientjournal_form.cost.errors }}
                </div>
                <div class="form-group">
                  {{ clientjournal_form.add_cost.label_tag }}
                  {{ clientjournal_form.add_cost }}
                  {{ clientjournal_form.add_cost.errors }}
                </div>
                <div class="form-group">
                  {{ clientjournal_form.discount.label_tag }}
                  {{ clientjournal_form.discount }}
                  {{ clientjournal_form.discount.errors }}
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <input type="submit" class="btn btn-save" value="Сформировать">
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
          <table class="table table-hover table-condensed table-bordered table-list">
            <thead>
              <tr>
                <th>Заказ</th>
                <th>Цена за стенд, руб.</th>
                <th>Наценка, %.</th>
                <th>Скидка, %</th>
                <th>Количество стендов</th>
                <th>Полная стоимость, руб.</th>
                <th>Поступления, руб</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for item in journal_list %}
              <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientJournal" class="clientjournal-tr" id="id_ClientJournal_{{ item.id }}">
                <td>
                  {% for order in item.clientorder.all %}
                    {{ order }}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>{{ item.cost|default:'Не указано' }}</td>
                <td>{{ item.add_cost|default:'Не указано' }}</td>
                <td>{{ item.discount|default:'Не указано' }}</td>
                <td>{{ item.num_stand|default:'Не указано' }}</td>
                <td>{{ item.full_cost|default:'Не указано' }}</td>
                <td style="width: 120px;">
                  {{ item.sum_payment|default:'0' }}
                  <a href="#js-modal-payment-add" id="js-payment-btn-{{ item.id }}" class="btn btn-sm btn-info js-payment-add-btn hide" data-client="{{ item.client.id }}" data-clientjournal="{{ item.id }}">
                    <span class="glyphicon glyphicon-plus-sign"></span> Добавить
                  </a>
                </td>
                <td>
                  <a href="{% url 'client:journal-export' item.id %}" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-download-alt"></span> Скачать в EXCEL
                  </a>
                </td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientJournal-{{ item.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8">
                  <p class="alert alert-info text-left">Продаж не найдено</p>
                </td>
              </tr>
              {% endfor %}
              <tr></tr>
            </tbody>
          </table>
          {% include '__includes/pagination.html' with page_obj=journal_list %}
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
  {% include 'journal/__modal/payment_modal.html' %}
{% endblock %}