{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'client:list' %}">Список продаж</a></li>
  <li class="active">Редактирование продажи</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Журнал поступлений</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed table-bordered table-list">
            <thead>
              <tr>
                <th>Продажа</th>
                <th>Поступлениe, руб</th>
                <th>Дата</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for item in object_list %}
              <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientJournalPayment" id="id_ClientJournalPayment_{{ item.id }}">
                <td>{{ item.clientjournal|default:'Не указано' }}</td>
                <td>{{ item.sum|default:'Не указано' }}</td>
                <td>{{ item.created|default:'Не указано' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientJournalPayment-{{ item.id }}" class="btn btn-danger btn-sm js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="4">
                  <p class="alert alert-info text-left">Поступлений не найдено</p>
                </td>
              </tr>
              {% endfor %}
              <tr></tr>
            </tbody>
          </table>
          {% include '__includes/pagination.html' with page_obj=object_list %}
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}