{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  {% include 'client/__include/map.html' %}
{% endblock %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'client:list' %}">Список продаж</a></li>
  <li class="active">Редактирование продажи</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">{{ object }} клиента "{{ object.client.legal_name }}"</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
        {% if object.is_closed %}
          <p class="lead add-bottom text-center">Заказ закрыт</p>
        {% else %}
          <form action="" id="js-client-update-order-form" method="post" role="form" class="form add-bottom">
            {% csrf_token %}
            <div class="col-md-12">
              <div class="add-bottom panel panel-success">
                <div class="panel-heading js-map-task-heading">
                  Карта <span class="caret"></span>
                </div>
                <div class="panel-body js-map-task-body">
                  <div id="tasksMap" style="height: 500px;"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <p class="lead add-bottom text-info">Редактирование заказа</p>
              </div>
            </div>
            <div class="col-md-6">
              {{ order_form.client }}
              <div class="form-group">
                {{ order_form.date_start.label_tag }}
                {{ order_form.date_start }}
                {{ order_form.date_start.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ order_form.date_end.label_tag }}
                {{ order_form.date_end }}
                {{ form.date_end.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ order_form.name.label_tag }}
                {{ order_form.name }}
                {{ form.name.errors }}
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-save">
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
          <hr>
          <div class="col-md-12">
            <p class="lead text-info">Добавление адресов к заказу</p>
          </div>

          <form action="{% url 'client:add-client-surface' %}" id="js-order-surface-add-form" method="post" class="form" role="form">
          {% csrf_token %}
            <div class="col-md-6">
              <input type="hidden" name="cos_client" id="id_cos_client" value="{{ client.id }}">
              <input type="hidden" name="cos_order" id="id_cos_order" value="{{ object.id }}">
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="cos_area">Выберите район:</label>
                      <select name="cos_area" id="id_cos_area" class="form-control" data-ajax-url="{% url 'city:get_free_area_surface' %}" data-client-order="{{ object.id }}">
                        <option value="">---- выберите район ----</option>
                      {% for area in area_list %}
                        <option value="{{ area.id }}">{{ area.name }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  <div class="clearfix"></div>
                </div>
                <div class="surface-list js-surface-list">
                  <table class="table">
                    <thead>
                    <tr>
                      <th><input type="checkbox" id="js-select-all" value="">
                      </th>
                      <th>Адрес</th>
                      <th>Стендов</th>
                      <th>Этажей</th>
                      <th>Квартир</th>
                      <th>УК</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <p class="lead text-info">
                  Количество стендов: <span id="js-selected-surface-porch-count">0</span>
                </p>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-save btn-save_green" value="Добавить адреса к заказу">
            </div>
          </form>
        {% endif %}
          <form action="{% url 'client:order-remove' %}" method="post" class="js-remove-item-form">{% csrf_token %}
          <div class="col-md-12 surface-list">
            <table class="table table-hover table-condensed table-bordered table-list">
              <thead>
                <tr>
                  <th>Район</th>
                  <th>Адрес</th>
                  <th>Подъездов</th>
                  <th>Этажей</th>
                  <th>Квартир</th>
                  <th>УК</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="js-list">
                {% for item in object.clientordersurface_list %}
                <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientOrderSurface" id="id_ClientOrderSurface_{{ item.id }}">
                  <td>{{ item.surface.street.area.name|default:'Не указано' }}</td>
                  <td>{{ item.surface.street.name|default:'Не указано' }}, д. {{ item.surface.house_number|default:'Не указано' }}</td>
                  <td>{{ item.num_porch|default:'0' }}</td>
                  <td>{{ item.surface.floors|default:'-' }}</td>
                  <td>{{ item.surface.apart_count|default:'-' }}</td>
                  <td>{{ item.surface.management.name|default:'-' }}</td>
                  <td>
                    {% if not object.is_closed %}
                      <div class="checkbox-min">
                        <input type="checkbox" id="ch{{ item.id }}" class="checkbox-min-input" name="chk_grp[]" value="{{ item.id }}">
                        <label for="ch{{ item.id }}" class="checkbox-min-label"></label>
                      </div>
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                    <p class="alert alert-info text-left">Адресов не найдено</p>
                  </td>
                </tr>
                {% endfor %}
                <tr></tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <div class="lead text-info">
              <a href="#js-ajax-remove" class="btn btn-sm btn-danger remove-fancy">
                <span class="glyphicon glyphicon-remove"></span> Удалить
              </a>
            </div>
            <p class="lead text-info">
              Количество стендов в заказе: {{ object.stand_count|default:'0' }}
            </p>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="js-ajax-remove" align="center" style="display: none">
    <p class="alert alert-danger">Вы действительно хотите удалить объекты?</p>
    <button class="js-btn-remove-success btn-success">Да</button>
    <button class="js-btn-remove-cancel btn-danger">Нет</button>
  </div>
{% endblock %}