{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{#  <script src="{{ STATIC_URL }}js/map-surface.js"></script>#}
{% include 'surface/__include/surface-map.html' %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Список поверхностей</p>
        </div>
        <div class="panel-body">
{#        <script>#}
{#        $(function() {#}
{#          $( "#sortable" ).sortable();#}
{#          $( "#sortable" ).disableSelection();#}
{#        });#}
{#        </script>#}
{#        <ul id="sortable">#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>#}
{#          <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>#}
{#        </ul>#}
          <div>
            <p><strong>Кол-во адресов: {{ surface_count|default:'0' }}</strong></p>
            <p><strong>Кол-во подъездов: {{ porch_count|default:'0' }}</strong></p>
          </div>
          <a href="{% url 'surface:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить новую поверхность
          </a>
          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть поверхности на карте <span class="caret"></span></div>
            <div class="panel-body js-map" data-city="{{ city_list.first }}" data-city-count="{{ city_list.count }}" data-coord-x="{{ city_list.first.coord_x }}" data-coord-y="{{ city_list.first.coord_y }}">
              <div id="surfaceMap" style="height: 500px;"></div>
            </div>
          </div>
{#          {% if object_list %}#}
            <form action="{% url 'surface:list' %}" id="js-surface-filter-form" class="form-inline" method="GET" role="form">
{#              {% csrf_token %}#}
{#              <input type="text" name="city" class="search-form__city" {% if city_id %}value="{{ city_id }}"{% endif %}>#}
{#              <input type="text" name="area" class="search-form__area" {% if area_id %}value="{{ area_id }}"{% endif %}>#}
{#              <input type="text" name="street" class="search-form__street" {% if street_id %}value="{{ street_id }}"{% endif %}>#}

              <select name="city" id="city_filter" class="form-control input-sm" data-ajax-url="{% url 'city:get_area_list' %}">
                <option value="0">--- Город--- </option>
              {% for city in city_list %}
                <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
              {% endfor %}
              </select>
              <select name="area" id="area_filter" class="form-control input-sm" data-ajax-url="{% url 'city:simple_get_area_streets' %}">
                <option value="0">--- Район ---</option>
                {% if area_list %}
                  {% for area in area_list %}
                  <option value="{{ area.id }}" {% if area.id == area_id %}selected="selected"{% endif %}>{{ area }}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <select name="street" id="street_filter" class="form-control input-sm" >
                <option value="0">--- Улица ---</option>
                {% if area_list %}
                  {% for street in street_list %}
                  <option value="{{ street.id }}" {% if street.id == street_id %}selected="selected"{% endif %}>{{ street }}</option>
                  {% endfor %}
              {% endif %}
              </select>
              <select name="management" id="management_filter" class="form-control input-sm" >
                <option value="0">--- Управляющая компания ---</option>
                <option value="-1" {% if management_id == -1 %}selected="selected"{% endif %}>УК не указана</option>
                {% if management_list %}
                  {% for management in management_list %}
                  <option value="{{ management.id }}" {% if management.id == management_id %}selected="selected"{% endif %}>{{ management.name }}</option>
                  {% endfor %}
              {% endif %}
              </select>
              <select name="free"  class="form-control input-sm">
                <option value="0" {% if free == 0%}selected="selected"{% endif %}>--- Занятость ---</option>
                <option value="1" {% if free == 1%}selected="selected"{% endif %}>Свободна</option>
                <option value="2" {% if free == 2%}selected="selected"{% endif %}>Занята</option>
              </select>
              <input type="text" name="release_date" class="form-control input-sm" placeholder="свободна от:" id="id_release_date" value="{{ release_date }}">
              <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Искать</button>
            </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Город</th>
                <th>Район</th>
                <th>Улица</th>
                <th>Номер дома</th>
                <th>Количество подъездов</th>
                <th>Управляющая компания</th>
                <th>Свободна</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for object in object_list %}
              <tr {% if object.damaged %}class="danger"{% endif %} data-id="{{ object.id }}" data-name="{{ object.street }}" data-model="Surface" id="id_Surface_{{ object.id }}">
                <td>{{ object.city|default:'Не указано' }}</td>
                <td>{{ object.street.area|default:'Не указано' }}</td>
                <td>
                {% if user.type == 5 %}
                  {{ object.street|default:'Не указано' }}
                {% else %}
                  <a href="{% url 'surface:update' object.id %}">{{ object.street|default:'Не указано' }}</a>
                {% endif %}
                </td>
                <td>{{ object.house_number|default:'Не указано' }}</td>
                <td>{{ object.porch_count|default:'Не указано' }}</td>
                <td>{{ object.management.name|default:'Не указано' }}</td>
                <td>
                  {% if object.free %}
                    <span class="glyphicon glyphicon-ok-sign text-success"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-minus-sign text-danger"></span> 
                    занята до {{ object.release_date }}
                  {% endif %}
                </td>
                <td>
                  {% if user.type == 5 %}
                    &nbsp;
                  {% else %}
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-Surface-{{ object.id }}" class="btn btn-danger js-ajax-remove-btn">
                    Удалить
                  </a>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="8">
                  <p class="alert alert-info">Поверхностей не найдено</p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}