{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'surface:list' %}">Список поверхностей</a></li>
  <li class="active">Редактирование рекламной поверхности</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'surface/__include/surface_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-8">Редактирование {{ object }}</div>
            <div class="col-md-4">
              <a href="{% url 'surface:add' %}" class="btn btn-add page-top__btn">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить рекламную поверхность
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <form action="" role="form" class="form" method="post" id="js-surface-add-form">
            {% csrf_token %}
          {% for field in form %}
            <div class="col-md-6">
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
              </div>
            </div>
          {% endfor %}
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" class="btn btn-save">Сохранить</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}