{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'cabinet:cabinet' %}">Рабочий стол</a></li>
        <li><a href="{% url 'surface:list' %}">Список поверхностей</a></li>
        <li class="active">Добавление рекламной поверхности</li>
      </ol>
      <a href="{{ back_to_list|default:'' }}" class="btn btn-default btn-sm add-bottom">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
      </a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            Добавление рекламной поверхности
          </p>
        </div>
        <div class="panel-body">
          <div class="col-lg-6">
            <p class="text-info lead">Адрес</p>
            <form action="{% url 'surface:add' %}" role="form" class="form-profile" id="js-surface-add-form" data-ajax-url="{% url 'city:surface-ajax' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="col-lg-5">{{ form.city.label_tag }}</div>
                <div class="col-lg-7">{{ form.city }}</div>
                {{ form.city.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ form.street.label_tag }}</div>
                <div class="col-lg-7">{{ form.street }}</div>
                {{ form.street.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ form.house_number.label_tag }}</div>
                <div class="col-lg-7">{{ form.house_number }}</div>
                {{ form.house_number.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ form.management.label_tag }}</div>
                <div class="col-lg-7">{{ form.management }}</div>
                {{ form.management.errors }}
                <div class="clearfix"></div>
              </div>
{#              {{ form.as_p }}#}
              <button type="submit" class="btn btn-default">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}