{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/map-surface.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Рекламные поверхности</p>
        </div>
        <div class="panel-body">
          <a href="{% url 'surface:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить рекламную поверхность
          </a>
          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть рекламные поверхности на карте <span class="caret"></span></div>
            <div class="panel-body js-map" data-city="{{ city_list.first }}" data-city-count="{{ city_list.count }}" data-coord-x="{{ city_list.first.coord_x }}" data-coord-y="{{ city_list.first.coord_y }}">
              <div id="surfaceMap" style="height: 500px;"></div>
            </div>
          </div>
{#          {% if object_list %}#}
            <form action="{% url 'surface:list' %}" id="js-surface-filter-form" class="form-inline" method="GET" role="form">
{#              {% csrf_token %}#}
{#              <input type="text" name="city" class="search-form__city" {% if city_id %}value="{{ city_id }}"{% endif %}>#}
{#              <input type="text" name="area" class="search-form__area" {% if area_id %}value="{{ area_id }}"{% endif %}>#}
{#              <input type="text" name="street" class="search-form__street" {% if street_id %}value="{{ street_id }}"{% endif %}>#}

              <select name="city" id="city_filter" class="form-control input-sm" data-ajax-url="{% url 'city:get_area_list' %}">
                <option value="0">Город</option>
              {% for city in city_list %}
                <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
              {% endfor %}
              </select>
              <select name="area" id="area_filter" class="form-control input-sm" data-ajax-url="{% url 'city:simple_get_area_streets' %}">
                <option value="0">Район</option>
                {% if area_list %}
                  {% for area in area_list %}
                  <option value="{{ area.id }}" {% if area.id == area_id %}selected="selected"{% endif %}>{{ area }}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <select name="street" id="street_filter" class="form-control input-sm" >
                <option value="0">Улица</option>
                {% if area_list %}
                  {% for street in street_list %}
                  <option value="{{ street.id }}" {% if street.id == street_id %}selected="selected"{% endif %}>{{ street }}</option>
                  {% endfor %}
              {% endif %}
              </select>
              <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Искать</button>
            </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Город</th>
                <th>Район</th>
                <th>Улица</th>
                <th>Номер дома</th>
                <th>Количество подездов</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for object in object_list %}
              <tr {% if object.damaged %}class="danger"{% endif %} data-id="{{ object.id }}" data-name="{{ object.street }}" data-model="Surface" id="id_Surface_{{ object.id }}">
                <td>{{ object.city|default:'' }}</td>
                <td>{{ object.street.area|default:'' }}</td>
                <td><a href="{% url 'surface:update' object.id %}">{{ object.street|default:'' }}</a></td>
                <td>{{ object.house_number|default:'' }}</td>
                <td>{{ object.porch_count|default:'Не указано' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-Surface-{{ object.id }}" class="btn btn-danger js-ajax-remove-btn">
                    Удалить
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6">
                  <p class="alert alert-info">Рекламных поверхностей нет</p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}