{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li class="active">Список поверхностей</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-8">
             Список поверхностей <span>/ адресов {{ surface_count|default:'0' }} / подъездов {{ porch_count|default:'0' }} </span>
            </div>
            <div class="col-md-4">
              {% if user.type == 1 or user.type == 2 or user.is_leader_manager %}
              <a href="{% url 'surface:add' %}" class="btn btn-add page-top__btn">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить новую поверхность
              </a>
            {% endif %}
            </div>
            <div class="clearfix"></div>
          </div>

          {% include '__cabinet/filter_button.html' %}
          <form action="" class="form form-filter" id="js-surface-filter-form" role="form" method="GET">
            <div class="col-md-12">
              <div class="five-col-1">
                <select name="city" id="city_filter" class="form-control input-sm" data-ajax-url="{% url 'city:get_area_list' %}">
                  <option value="0">--- Город--- </option>
                {% for city in city_list %}
                  <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="five-col-1">
                <select name="area" id="area_filter" class="form-control input-sm" data-ajax-url="{% url 'city:simple_get_area_streets' %}">
                  <option value="0">--- Район ---</option>
                  {% if area_list %}
                    {% for area in area_list %}
                    <option value="{{ area.id }}" {% if area.id == area_id %}selected="selected"{% endif %}>{{ area }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
              <div class="five-col-1">
                <input type="text" name="street" id="street_filter" class="form-control input-sm" placeholder="Улица" value="{{ street }}">
              </div>
              <div class="five-col-2">
                <select name="management" id="management_filter" class="form-control input-sm" >
                  <option value="0">--- Управляющая компания ---</option>
                  <option value="-1" {% if management_id == -1 %}selected="selected"{% endif %}>УК не указана</option>
                  {% if management_list %}
                    {% for management in management_list %}
                    <option value="{{ management.id }}" {% if management.id == management_id %}selected="selected"{% endif %}>{{ management.name }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
              <div class="five-col-1">
                <select name="has_stand" id="has_stand" class="form-control input-sm">
                  <option value="0" {% if has_stand == 0 %}selected="selected"{% endif %}>--- Стенды ---</option>
                  <option value="1" {% if has_stand == 1 %}selected="selected"{% endif %}>Стенды установлены</option>
                  <option value="2" {% if has_stand == 2 %}selected="selected"{% endif %}>Стенды отсутствуют</option>
                </select>
              </div>
              <div class="five-col-1">
                <select name="free" id="free_filter" class="form-control input-sm">
                  <option value="0" {% if free == 0 %}selected="selected"{% endif %}>--- Занятость ---</option>
                  <option value="1" {% if free == 1 %}selected="selected"{% endif %}>Свободна</option>
                  <option value="2" {% if free == 2 %}selected="selected"{% endif %}>Занята</option>
                </select>
              </div>
              <div class="five-col-1">
                <input type="text" name="release_date" class="form-control input-sm" placeholder="в момент:" id="id_release_date" value="{{ release_date }}">
              </div>
              <div class="five-col-1">
                <select name="client" id="client_filter" class="form-control input-sm" >
                  <option value="0">--- Клиент ---</option>
                  {% if client_list %}
                    {% for client in client_list %}
                    <option value="{{ client.id }}" {% if client.id == client_id %}selected="selected"{% endif %}>{{ client.legal_name }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
              <div class="five-col-1">
                <input type="submit" class="btn btn-search" value="Искать поверхности">
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-2">
              <a href="{% url 'surface:export' %}?city={{ city_id|default:'' }}&area={{ area_id|default:'' }}&street={{ street|default:'' }}&management={{ management_id|default:'' }}&release_date={{ release_date|default:'' }}&free={{ free|default:0 }}&has_stand={{ has_stand|default:0 }}&client={{ client_id|default:0 }}" class="btn btn-warning add-bottom">
                <span class="glyphicon glyphicon-download-alt"></span> Скачать в EXCEL
              </a>
            </div>
            <div class="col-lg-2">
              <a href="{% url 'surface:export-docx' %}?city={{ city_id|default:'' }}&area={{ area_id|default:'' }}&street={{ street|default:'' }}&management={{ management_id|default:'' }}&release_date={{ release_date|default:'' }}&free={{ free|default:0 }}&has_stand={{ has_stand|default:0 }}&client={{ client_id|default:0 }}" class="btn btn-warning add-bottom">
                <span class="glyphicon glyphicon-download-alt"></span> Скачать в DOCX
              </a>
            </div>
            <div class="col-lg-2">
                <form action="" method="get">
                  {% csrf_token %}
                  <select class="form-control" id="js-page-count" style="max-width: 100px;">
                    <option value="20" {% if page_count == 20 %}selected="selected"{% endif %}>20</option>
                    <option value="50" {% if page_count == 50 %}selected="selected"{% endif %}>50</option>
                    <option value="100" {% if page_count == 100 %}selected="selected"{% endif %}>100</option>
                    <option value="0" {% if page_count == 0 %}selected="selected"{% endif %}>все</option>
                  </select>
                  <input type="hidden" id="id_page_count" name="page_count" value="{{ page_count|default:'' }}">
                  <input type="hidden" name="city" value="{{ city_id|default:'' }}">
                  <input type="hidden" name="area" value="{{ area_id|default:'' }}">
                  <input type="hidden" name="street" value="{{ street|default:'' }}">
                  <input type="hidden" name="management" value="{{ management_id|default:'' }}">
                  <input type="hidden" name="has_stand" value="{{ has_stand|default:'' }}">
                  <input type="hidden" name="free" value="{{ free|default:'' }}">
                  <input type="hidden" name="release_date" value="{{ release_date|default:'' }}">
                  <input type="hidden" name="client" value="{{ client_id|default:'' }}">
                </form>
              </div>
            <div class="col-lg-6 text-right">
              <form action="{% url 'surface:import' %}" method="POST" enctype="multipart/form-data" class="form-inline" role="form">{% csrf_token %}
                {{ import_form.file }}
                <input type="submit" value="Загрузить" class="js-show-loader btn btn-info form-control">
              </form>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть поверхности на карте <span class="caret"></span></div>
            <div class="panel-body js-map" data-url="{% url 'surface:surface-map' %}" data-city="{{ city_list.first }}" data-city-count="{{ city_list.count }}" data-coord-x="{{ center.coord_x }}" data-coord-y="{{ center.coord_y }}">
              <div id="surfaceMap" style="height: 500px;"></div>
            </div>
          </div>
{#          {% if object_list %}#}
{#            <form action="{% url 'surface:list' %}" id="js-surface-filter-form" class="add-bottom" method="GET" role="form">#}
{#              {% csrf_token %}#}
{#              <input type="text" name="city" class="search-form__city" {% if city_id %}value="{{ city_id }}"{% endif %}>#}
{#              <input type="text" name="area" class="search-form__area" {% if area_id %}value="{{ area_id }}"{% endif %}>#}
{#              <input type="text" name="street" class="search-form__street" {% if street_id %}value="{{ street_id }}"{% endif %}>#}
{#              <table>#}
{#                <tr>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    #}
{#                  </td>#}
{#                  <td>#}
{#                    <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Искать</button>#}
{#                  </td>#}
{#                </tr>#}
{#              </table>#}
{#            </form>#}
          <form action="{% url 'surface:update_company' %}" method="post">{% csrf_token %}
            <table class="table table-hover table-condensed table-bordered table-list">
              <thead>
                <tr>
                  <th><input type="checkbox" id="js-select-all" value="">
                  <th>Город</th>
                  <th>Район</th>
                  <th>Улица</th>
                  <th>Номер дома</th>
                  <th>Кол-во подъездов</th>
                  <th>Этажность</th>
                  <th>Управляющая компания</th>
                  <th>Свободна</th>
                  <th>Клиент</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="js-list">
              {% for object in object_list %}
                <tr {% if object.damaged %}class="danger"{% endif %} data-id="{{ object.id }}" data-name="{{ object.street }}" data-model="Surface" id="id_Surface_{{ object.id }}">
                  <td><input type="checkbox" name="chk_group[]" value="{{ object.id }}"></td>
                  <td>{{ object.city|default:'Не указано' }}</td>
                  <td>{{ object.street.area|default:'Не указано' }}</td>
                  <td>
                  {% if not user.is_leader_manager %}
                    {{ object.street.name|default:'Не указано' }}
                  {% else %}
                    <a href="{% url 'surface:update' object.id %}">{{ object.street.name|default:'Не указано' }}</a>
                  {% endif %}
                  </td>
                  <td>{{ object.house_number|default:'Не указано' }} {% if object.has_stand %}<span class="glyphicon glyphicon-check text-success pull-right" data-toggle="tooltip" data-placement="top" title="Стенды установлены"></span>{% endif %}</td>
                  <td>{{ object.porch_total_count|default:'Не указано' }}</td>
                  <td>{{ object.floors|default:'' }}</td>
                  <td>{{ object.management.name|default:'Не указано' }}</td>
                  <td>
                    {% if object.free %}
                      <span class="glyphicon glyphicon-ok-sign text-success"></span>
                    {% else %}
                      <span class="glyphicon glyphicon-minus-sign text-danger"></span>
                      занята до {{ object.release_date|date:'d.m.Yг.' }}
                    {% endif %}
                  </td>
                  <td>
                    {% if object.free %}
                    отсутствует
                    {% else %}
                    {{ object.get_current_client|default:'---' }}
                    {% endif %}
                  </td>
                  <td>
                    {% if user.is_leader_manager %}
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-Surface-{{ object.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="11">
                    <p class="alert alert-info text-left">{{ city_id|yesno:'Поверхностей не найдено,Выберите город' }}</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="col-md-12">
              <div class="five-col-1">
                <select name="company" id="management_filter2"  class="form-control input-sm" >
                  {% if management_list %}
                    {% for management in management_list %}
                    <option value="{{ management.id }}">{{ management.name }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
              <div class="five-col-2">
                <select name="type" class="form-control input-sm" >
                  <option value="0">Стенды установлены у всех</option>
                  <option value="1">Стенды не установлены у всех</option>
                  <option value="2">Назначить УК</option>
                </select>
              </div>
              <div class="five-col-2">
                <input type="submit" class="btn btn-search" value="Выполнить">
              </div>
            </div>
          </form>

        {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="loader">
    <div class="loader-content">
      <p class="lead">Загрузка данных</p>
      <p class="small">загрузка может занимать достаточно длительное время в зависимости от количества адресов</p>
      <img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="">
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
{% block bottom_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}surface/js/surface-map.js"></script>
  <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
{% endblock %}