{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'surface:list' %}">Список поверхностей</a></li>
  <li class="active">Добавление рекламной поверхности</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <a href="{{ back_to_list|default:'' }}" class="btn btn-default btn-sm add-bottom">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
      </a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Добавление рекламной поверхности
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <form action="{% url 'surface:add' %}" role="form" class="form" id="js-surface-add-form" data-ajax-url="{% url 'city:surface-ajax' %}" method="post">
              {% csrf_token %}
            {% for field in form %}
              <div class="col-md-6">
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {{ field.errors }}
                </div>
              </div>
            {% endfor %}
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" class="btn btn-save">Сохранить</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}