{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'city:list' %}">Список городов</a></li>
  <li class="active">Редактирование города</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'city/__include/city_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Районы города {{ city }}</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <form action="" role="form" class="form" id="js-city-form" method="post">
            <div class="row">
              {% csrf_token %}
              <div class="col-md-6">
                {% for field in form.hidden_fields %}
                  {{ field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {{ field.errors }}
                </div>
                {% endfor %}
                <div class="form-group">
                  <button type="submit" class="btn btn-save">Добавить район</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
          <table class="table table-condensed table-bordered table-list">
            <thead>
              <tr>
                <th>Название</th>
                <th>Количество улиц</th>
                <th>&nbsp; </th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for area in area_list %}
              <tr data-id="{{ area.id }}" data-name="{{ area.name }}" data-model="Area" id="id_Area_{{ area.id }}">
                <td><a href="{% url 'city:area-update' area.id %}">{{ area.name }}</a></td>
                <td>{{ area.num_street|default:'0' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-Area-{{ area.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3">
                  <p class="alert alert-info text-left">Районов не найдено</p>
                </td>
              </tr>
            {%  endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}