{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}
{% block breadcrumbs_item %}
  <li class="active">Список городов</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-8">Города</div>
            <div class="col-md-4">
              {% if user.type == 1 %}
                <a href="{% url 'city:add' %}" class="btn btn-add page-top__btn">
                  <span class="glyphicon glyphicon-plus-sign"></span> Добавить город
                </a>
                {% endif %}
            </div>
            <div class="clearfix"></div>
          </div>
          {% include '__cabinet/filter_button.html' %}
          <form action="{% url 'city:list' %}" method="GET" role="form" class="form form-filter">
            <div class="col-md-12">
              <div class="five-col-1">
                <input type="text" name="city" class="form-control input-sm" placeholder="Название" value="{{ r_city|default:'' }}">
              </div>
              {% if user.type == 1 %}
              <div class="five-col-1">
                <input type="text" name="moderator" class="form-control input-sm" placeholder="e-mail" value="{{ r_moderator|default:'' }}">
              </div>
              {% endif %}
              <div class="five-col-1">
                <input type="submit" class="btn btn-search" value="Искать">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="panel-body">
          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть города на карте <span class="caret"></span></div>
            <div class="panel-body js-map">
              <div id="YMapsID" style="height: 500px;"></div>
            </div>
          </div>
          <div class="city-list">
            <table class="table table-hover table-condensed table-list">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Модератор</th>
                  <th>Количество рекламных поверхностей</th>
                  <th>Количество клиентов</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody class="js-list">
              {% for object in object_list %}
                <tr data-id="{{ object.id }}" data-name="{{ object.name }}" data-model="City" id="id_City_{{ object.id }}">
                  <td><a href="{% url 'city:update' object.pk %}">{{ object.name|default:'' }}</a></td>
                  <td>
                  {% if user.type == 1 %}
                    {% if object.moderator %}
                    <a href="{% url 'moderator:change' object.moderator.id %}">{{ object.moderator|default:'Не указан' }}</a>
                    {% endif %}
                  {% else %}
                    {{ object.moderator|default:'Не указан' }}
                  {% endif %}
                  </td>
                  <td>{{ object.num_porch|default:'0' }}</td>
                  <td>{{ object.num_client|default:'0' }}</td>
                  <td>
                  {% if user.type == 1 %}
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="btn btn-sm btn-danger btn-sm js-ajax-remove-btn">
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                  {% else %}
                      &nbsp;
                  {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5">
                    <p class="alert alert-info text-left">Городов не найдено</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
{#      {% include 'city/__include/address_list.html' with city_list=object_list %}#}

    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
{% block bottom_js %}
  <script src="{{ STATIC_URL }}city/js/city-map.js"></script>
{#  <script src="{{ STATIC_URL }}city/js/photo-map.js"></script>#}
{% endblock %}