{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/map.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Города</p>
        </div>
        <div class="panel-body">
          {% if user.type == 1 %}
          <a href="{% url 'city:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить город
          </a>
          {% endif %}

          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть города на карте <span class="caret"></span></div>
            <div class="panel-body js-map">
              <div id="YMapsID" style="height: 500px;"></div>
            </div>
          </div>


          <form action="{% url 'city:list' %}" class="city-search-form" method="GET">
            <select name="city" id="city_filter" class="form-control">
              <option value="0">Город</option>
              {% for city in user_city_list %}
                <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
              {% endfor %}
            </select>
            {% if user.type == 1 %}
            <input type="text" name="moderator" class="form-control" placeholder="e-mail">
            {% endif %}
            <input type="submit" value="Искать" class="btn btn-info">
          </form>

          <div class="city-list">
            <table class="table table-hover scroll">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Название</th>
                  {% if user.type == 1 %}
                  <th>Модератор</th>
                  {% endif %}

                  <th>Количество рекламных поверхностей</th>
                  <th>Количество клиентов</th>
                  {% if user.type == 1 %}
                  <th>&nbsp;</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% if object_list %}
              {% for object in object_list %}
                <tr data-id="{{ object.id }}">
                  <td>{{ object.id|default:'' }}</td>
                  <td><a href="{% url 'city:change' object.pk %}">{{ object.name|default:'' }}</a></td>
                {% if user.type == 1 %}
                  {% if city.moderator %}
                  <td><a href="{% url 'cabinet:user-change' object.moderator.id %}">{{ object.moderator|default:'Не указан' }}</a></td>
                  {% else %}
                  <td>{{ object.moderator|default:'Не указан' }}</td>
                  {% endif %}
                {% endif %}
                  <td>{{ object.surface_count }}</td>
                  <td>{{ object.client_set.all.count }}</td>
                  {% if user.type == 1 %}
                  {% include '__cabinet/remove_item_btn.html' with name=object.name %}
  {#                <td>#}
  {#                  <a href="#js-modal-item-remove" class="btn btn-danger js-remove-item-btn" data-id="{{ object.id }}" data-email="{{ object.name }}">#}
  {#                    <span class="glyphicon glyphicon-remove"></span>#}
  {#                     Уалить#}
  {#                  </a>#}
  {#                </td>#}
                  {% endif %}
                </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><p class="lead remove-bottom text-center">Фотографии поверхностей</p></div>
        <div class="panel-body">

          <div class="address-list">
            <div class="row">
              <div class="col-lg-7">
                <form action="" method="GET" role="form" id="js-address-filter-form" class="form-inline">
{#                  {% csrf_token %}#}
                  Дата от:
                  <input type="text" name="start_date" id="id_start_date" class="form-control" value="{{ start_date|default:'' }}">
                  до:
                  <input type="text" name="end_date" id="id_end_date" class="form-control" value="{{ end_date|default:'' }}">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span> Искать</button>
                </form>
              </div>
              <div class="col-lg-5">
                <a class="btn btn-info" title="Показать плиткой"><span class="glyphicon glyphicon-th"></span> Показать плиткой</a>
                <a class="btn btn-info"><span class="glyphicon glyphicon-globe"></span> На карте</a>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Город</th>
                  <th>Район</th>
                  <th>Адрес</th>
                  <th>Дом</th>
                  <th>Подъезд</th>
                  <th>Дата</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
              {% for item in address_list %}
              <tr>
                <td>{{ item.surface.city.name }}</td>
                <td>{{ item.surface.street.area.name }}</td>
                <td>{{ item.surface.street.name }}</td>
                <td>{{ item.surface.house_number }}</td>
                <td>{{ item.porch.number }}</td>
                <td>{{ item.date }}</td>
                <td><a href="{{ item.image.url }}" rel="group" class="js-gallery" title="{{ item.surface.city.name }},
                {{ item.surface.street.area.name }} {{ item.surface.street.name }} {{ item.surface.house_number }}, подъезд {{ item.porch.number }}">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                  </a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7">
                  <p class="alert alert-info">Фотографий не найдено</p>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="js-modal-item-remove">
    <form action="{% url 'city:remove' %}" class="js-modal-remove-item-form">
      {% csrf_token %}
      <p class="alert alert-danger">Вы действительно хотети удалить <strong id="js-modal-item-remove-name"></strong>?</p>
      <input type="hidden" name="item_id" id="js-modal-item-remove-id">
      <input type="submit" value="Да" class="btn btn-success">
      <input type="reset" value="Нет" class="btn btn-danger">
    </form>
  </div>
{% endblock %}