{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/map.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Города</p>
        </div>
        <div class="panel-body">
          {% if user.type == 1 %}
          <a href="{% url 'city:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить город
          </a>
          {% endif %}

          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть города на карте <span class="caret"></span></div>
            <div class="panel-body js-map">
              <div id="YMapsID" style="height: 500px;"></div>
            </div>
          </div>


          <form action="{% url 'city:list' %}" method="GET" role="form" class="form-inline">
            <select name="city" id="city_filter" class="form-control input-sm">
              <option value="0">Город</option>
              {% for city in user_city_list %}
                <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
              {% endfor %}
            </select>
            {% if user.type == 1 %}
            <input type="text" name="moderator" class="form-control  input-sm" placeholder="e-mail">
            {% endif %}
            <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Искать</button>
          </form>

          <div class="city-list">
            <table class="table table-hover scroll">
              <thead>
                <tr>
                  <th>Название</th>
                  {% if user.type == 1 %}
                  <th>Модератор</th>
                  {% endif %}

                  <th>Количество рекламных поверхностей</th>
                  <th>Количество клиентов</th>
                  {% if user.type == 1 %}
                  <th>&nbsp;</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody class="js-list">
              {% for object in object_list %}
                <tr data-id="{{ object.id }}" data-name="{{ object.name }}" data-model="City" id="id_City_{{ object.id }}">
                  <td><a href="{% url 'city:update' object.pk %}">{{ object.name|default:'' }}</a></td>
                {% if user.type == 1 %}
                  {% if object.moderator %}
                  <td><a href="{% url 'moderator:change' object.moderator.id %}">{{ object.moderator|default:'Не указан' }}</a></td>
                  {% else %}
                  <td>{{ object.moderator|default:'Не указан' }}</td>
                  {% endif %}
                {% endif %}
                  <td>{{ object.surface_count }}</td>
                  <td>{{ object.client_set.all.count }}</td>
                  {% if user.type == 1 %}
                  <td>
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="btn btn-danger js-ajax-remove-btn">
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                  </td>
                  {% endif %}
                </tr>
              {% empty %}
                <tr style="width:100%">
                {% if user.type == 1 %}
                  <td colspan="5" style="width:100%">
                    <p class="alert alert-info">Городов не найдено</p>
                  </td>
                {% else %}
                  <td colspan="3" style="width:100%">
                    <p class="alert alert-info">Городов не найдено</p>
                  </td>
                {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><p class="lead remove-bottom text-center">Фотографии поверхностей</p></div>
        <div class="panel-body">

          <div class="address-list">
            <div class="row add-bottom">
              <div class="col-lg-7">
                <form action="" method="GET" role="form" id="js-address-filter-form" class="form-inline">
{#                  {% csrf_token %}#}
                  Дата от:
                  <input type="text" name="start_date" id="id_start_date" class="form-control input-sm" value="{{ start_date|default:'' }}">
                  до:
                  <input type="text" name="end_date" id="id_end_date" class="form-control input-sm" value="{{ end_date|default:'' }}">
                  <button class="btn btn-info btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span> Искать</button>
                </form>
              </div>
              <div class="col-lg-5">
                {% if grid %}
                  <a href="{% url 'city:list' %}" class="btn btn-info" title="Показать таблицей"><span class="glyphicon glyphicon-th-list"></span> Показать таблицей</a>
                {% else %}
                  <a href="{% url 'city:list' %}?grid=1" class="btn btn-info" title="Показать плиткой"><span class="glyphicon glyphicon-th"></span> Показать плиткой</a>
                {% endif %}
                <a class="btn btn-info"><span class="glyphicon glyphicon-globe"></span> На карте</a>
              </div>
              <div class="clearfix"></div>
            </div>
          {% if grid %}
            <div class="row">
            {% for item in address_list %}
              <div class="col-lg-3">
                <div>
                  <a href="{{ item.image.url }}" rel="group" class="js-gallery" title="{{ item.address }}, подъезд {{ item.porch.number }}">
                    <img src="{{ item.image_resize.url }}" alt="{{ item.address }}, подъезд {{ item.porch.number }}">
                  </a>
                </div>
                <div>
                  <p>
                    Адрес: {{ item.address }} <br>
                    Подъезд: {{ item.porch.number }}, <br>
                    Дата: {{ item.date }}
                  </p>
                </div>
              </div>
            {% empty %}
              <div class="col-lg-12">
                <p class="alert alert-info">Фотографий не найдено</p>
              </div>
            {% endfor %}
              <div class="clearfix"></div>
            </div>
          {% else %}
            <table class="table">
              <thead>
                <tr>
                  <th>Город</th>
                  <th>Район</th>
                  <th>Адрес</th>
                  <th>Дом</th>
                  <th>Подъезд</th>
                  <th>Дата</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
              {% for item in address_list %}
              <tr>
                <td>{{ item.porch.surface.city.name }}</td>
                <td>{{ item.porch.surface.street.area.name }}</td>
                <td>{{ item.porch.surface.street.name }}</td>
                <td>{{ item.porch.surface.house_number }}</td>
                <td>{{ item.porch.number }}</td>
                <td>{{ item.date }}</td>
                <td><a href="{{ item.image.url }}" rel="group" class="js-gallery" title="{{ item.address }}, подъезд {{ item.porch.number }}">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                  </a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7">
                  <p class="alert alert-info">Фотографий не найдено</p>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}