{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'city:list' %}">Список городов</a></li>
  <li class="active">Редактирование города</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'city/__include/city_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Редактирование района {{ object }}</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <form action="" role="form" class="form" id="js-area-add-form" method="post">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
              {{ field }}
            {% endfor %}
            <div class="col-md-6">
            {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
              </div>
            {% endfor %}
              <div class="form-group">
                <button type="submit" class="btn btn-save">Сохранить</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}