{% extends 'cabinet_index.html' %}
{#{% block header %}{% with mobile_class='js-nav-main' %}{{ block.super }}{% endwith %}{% endblock %}#}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Отчёты по городам</div>
            <div class="clearfix"></div>
          </div>
          {% include '__cabinet/filter_button.html' %}
          <form action="" method="GET" role="form" class="form form-filter js-city-report-form">
            <div class="col-md-12">
              <div class="five-col-1">
                <select name="city" id="city_filter" class="form-control input-sm">
                  <option value="0">Город</option>
                  {% for item in city_list %}
                    <option value="{{ item.id }}" {% if item.id == city.id %}selected="selected"{% endif %}>{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="five-col-1">
                <input type="text" name="date_s" id="id_date_s" class="form-control input-sm" value="{{ r_date_s|default:'' }}" placeholder="Дата от">
              </div>
              <div class="five-col-1">
                <input type="text" name="date_e" id="id_date_e" class="form-control input-sm" value="{{ r_date_e|default:'' }}" placeholder="Дата до">
              </div>
              <div class="five-col-1">
                <input type="submit" class="btn btn-search" value="Искать">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="panel-body">
        {% if city %}
          <div class="row add-bottom">
            <div class="col-md-3 text-center">
              <div class="text-info">Продажи</div>
              <div class="city-report__value alert-info">{{ total_cost|default:'0' }}руб.</div>
            </div>
            <div class="col-md-3 text-center">
              <div class="text-success">Поступления</div>
              <div class="city-report__value alert-success">{{ total_payment|default:'0' }}руб.</div>
            </div>
            <div class="col-md-3 text-center">
              <div class="text-warning">Количество клиентов</div>
              <div class="city-report__value alert-warning">{{ city.client_set.count|default:'0' }}</div>
            </div>
            <div class="col-md-3 text-center">
              <div class="text-danger">Количество поверхностей</div>
              <div class="city-report__value alert-danger">{{ city.surface_count|default:'0' }}</div>
            </div>
            <div class="clearfix"></div>
          </div>
        {% endif %}
          <div class="row">
            <div id="city-chart" style="height:700px; width: 100%;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
{% block bottom_js %}
  <script src="{{ STATIC_URL }}js/echarts-all.js"></script>
  <script>
    var myChart = echarts.init(document.getElementById('city-chart'));
  var city_option = {
      title : {
        text: 'Продажи',
        subtext: 'по всем городам за выбранный период',
        x: 'center'
      },
      tooltip : {
        trigger: 'item'
      },
      grid: {
        height: 300,
        y2: 0
      },
      legend: {
        data:[{% for city in city_list %}'{{ city.name }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        orient: 'horizontal',
        x: 'center',
        y: 400
      },
      toolbox: {
        show : false,
        feature : {
          mark : {show: true},
          dataView : {show: true, readOnly: false},
          magicType : {show: true, type: ['line', 'bar']},
          restore : {show: true},
          saveAsImage : {show: true}
        }
      },
      calculable : false,
      xAxis : [
        {
          type : 'category',
          data : ['Города']
        }
      ],
      yAxis : [
        {
          type : 'value'
        }
      ],
      series : [
      {% for city in city_list %}
        {
          name:'{{ city.name }}',
          type:'bar',
          data:[{{ city.total_cost|safe|default:0 }}]
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
      ]
    };
  myChart.setOption(city_option);
  </script>
{% endblock %}