{% extends 'cabinet_index.html' %}
{% block content %}
  <script type="text/javascript">
      $(function() {
          $('.js-porch-form input[type="text"]').addClass('form-control');
      })
  </script>
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            Редактирование {{ object.name }}
          </p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12 add-bottom">
            <a href="{% url 'city:surface-add' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-plus-sign"></span> Добавить рекламную поверхность
            </a>
          </div>
          <div class="col-lg-6">
            <p class="text-info lead">Адрес</p>
            <form action="" role="form" class="form-profile" method="post" id="js-surface-add-form" data-ajax-url="{% url 'city:surface-ajax' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-default">Сохранить</button>
            </form>
          </div>
          {% if porch_form %}
          <div class="col-lg-6">
            <p class="text-info lead">Подъезды</p>
            <form action="{% url 'city:porch' %}" role="form" class="form-profile js-porch-form" method="post">
              {% csrf_token %}
              <input type="hidden" name="surface_id" value="{{ object.id }}">
{#              {{ porch_form.management_form }}#}
{#              {% for form in porch_form %}#}
{#                {% for hidden in form.hidden_fields %}#}
{#                  {{ hidden }}#}
{#                {% endfor %}#}
{#                <div class="inline {{ porch_form.prefix }}">#}
{#                  {{ form.as_p }}#}
{#                  {{ form.number|add_class:'form-control' }}#}
{#                </div>#}
              {#              {% endfor %}#}
              {{ porch_form.as_p }}
              <button type="submit" class="btn btn-default">Сохранить</button>
            </form>
          </div>
          {% endif %}
        </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            {% if object %}
            Фотографии
            {% endif %}
          </p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
            <button class="btn btn-success">Добавить фотографию</button>
          </div>
          {% for item in '123456' %}
          <div class="col-lg-4">
            <a href="{{ STATIC_URL }}img/images.jpg" rel="group" class="js-gallery" title="Картинка заглушка">
              <img src="{{ STATIC_URL }}img/images.jpg" alt="Картинка заглушка">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}