{% extends 'cabinet_index.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/map-surface.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Рекламные поверхности</p>
        </div>
        <div class="panel-body">
          <a href="{% url 'city:surface-add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить рекламную поверхность
          </a>
          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть рекламные поверхности на карте <span class="caret"></span></div>
            <div class="panel-body js-map" data-city="{{ city_list.first }}">
              <div id="surfaceMap" style="height: 500px;"></div>
            </div>
          </div>
{#          {% if object_list %}#}
            <form action="{% url 'city:surface-list' %}" class="search-form" method="GET">
{#              {% csrf_token %}#}
              <input type="text" name="city" class="search-form__city" {% if city_id %}value="{{ city_id }}"{% endif %}>
              <input type="text" name="area" class="search-form__area" {% if area_id %}value="{{ area_id }}"{% endif %}>
              <input type="text" name="street" class="search-form__street" {% if street_id %}value="{{ street_id }}"{% endif %}>
              <input type="submit" value="Искать">
            </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Город</th>
                <th>Район</th>
                <th>Улица</th>
                <th>Номер дома</th>
                <th>Количество подездов</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <select name="city_filter" id="city_filter" class="form-control">
                  <option value="0">--------</option>
                {% for city in city_list %}
                  <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
                {% endfor %}
                </select>
              </td>
              <td>
                <select name="area_filter" id="area_filter" class="form-control" >
                  <option value="0">--------</option>
                  {% if area_list %}
                    {% for area in area_list %}
                    <option value="{{ area.id }}" {% if area.id == area_id %}selected="selected"{% endif %}>{{ area }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </td>
              <td>
                <select name="street_filter" id="street_filter" class="form-control" >
                  <option value="0">--------</option>
                  {% if area_list %}
                    {% for street in street_list %}
                    <option value="{{ street.id }}" {% if street.id == street_id %}selected="selected"{% endif %}>{{ street }}</option>
                    {% endfor %}
                {% endif %}
                </select>
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            {% for object in object_list %}
              <tr>
                <td>{{ object.city|default:'' }}</td>
                <td>{{ object.street.area|default:'' }}</td>
                <td><a href="{% url 'city:surface-change' object.id %}">{{ object.street|default:'' }}</a></td>
                <td>{{ object.house_number|default:'' }}</td>
                <td>{{ object.porch_count|default:'Не указано' }}</td>
                <td class="text-right"><a href="{% url 'city:surface-remove' object.id %}" class="btn btn-warning js-remove-surface">
                  <span class="glyphicon glyphicon-remove"></span> удалить</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% if not object_list %}
            <div class="alert alert-info">Рекламных поверхностей нет</div>
          {% endif %}
{#          {% endif %}#}
        </div>
      </div>
    </div>
  </div>
{% endblock %}