{% extends 'cabinet_index.html' %}
{% block title %}
  Блок сайта
{% endblock %}
{% block breadcrumbs_item %}
  <li class="active">Редактируемые блоки</li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row page-top">
          <div class="col-md-12">Блоки сайта</div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-bordered table-list">
          <tbody>
          <tr>
            <td><a href="{% url 'blockeffective-list' %}">Почему реклама на подъездах так эфективна</a></td>
            <td class="text-right">
              <a href="{% url 'blockeffective-add' %}" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить
              </a>
            </td>
          </tr>
          <tr>
            <td><a href="{% url 'blockexample-list' %}">Примеры размещений</a></td>
            <td class="text-right">
              <a href="{% url 'blockexample-add' %}" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить
              </a>
            </td>
          </tr>
          <tr>
            <td><a href="{% url 'blockreview-list' %}">Отзывы</a></td>
            <td class="text-right">
              <a href="{% url 'blockreview-add' %}" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}