{% extends 'cabinet_index.html' %}
{% block title %}
  Блок "Почему реклама на подъездах так эффективна"
{% endblock %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'block-list' %}">Блоки сайта</a></li>
  <li class="active">Почему реклама на подъездах так эффективна</li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row page-top">
          <div class="col-md-8">Блок "Почему реклама на подъездах так эффективна"</div>
          <div class="col-md-4">
            <a href="{% url 'blockeffective-add' %}" class="btn btn-add page-top__btn">
              <span class="glyphicon glyphicon-plus-sign"></span> Добавить
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-bordered table-list">
          <thead>
            <tr>
              <th>Текст</th>
              <th>Город</th>
              <th>Иконка</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody  class="js-list">
          {% for object in object_list %}
            <tr  data-id="{{ object.id }}" data-name="элемент блока" data-model="BlockEffective" id="id_BlockEffective_{{ object.id }}">
              <td>
                <a href="{% url 'blockeffective-update' object.id %}" title="Редактировать">{{ object.text|safe }}</a>
              </td>
              <td>{{ object.city.name|default:'----' }}</td>
              <td><img src="{{ object.image.url }}"></td>
              <td>
                <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-BlockEffective-{{ object.id }}" class="btn btn-danger js-ajax-remove-btn">
                  <span class="glyphicon glyphicon-remove"></span> Удалить
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}