{% extends 'cabinet_index.html' %}
{% block title %}
  {% if object %}
    Редактирование элемента блока "Примеры размещений"
  {% else %}
    Добавление элемента в блок "Примеры размещений"
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="{% url 'cabinet:cabinet' %}">Рабочий стол</a></li>
      <li><a href="{% url 'block-list' %}">Блоки сайта</a></li>
      <li><a href="{% url 'blockexample-list' %}">Примеры размещений</a></li>
      <li class="active">
        {% if object %}
          Редактирование элемента блока "Примеры размещений"
        {% else %}
          Добавление элемента в блок "Примеры размещений"
        {% endif %}
      </li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead text-center remove-bottom">
          {% if object %}
            Редактирование элемента блока "Примеры размещений"
          {% else %}
            Добавление элемента в блок "Примеры размещений"
          {% endif %}
        </p>
      </div>
      <div class="panel-body">
        {% if error %}
          <p class="alert alert-warning">
          {{ error }}
          </p>
        {% endif %}
        <form action="" role="form" method="post" id="js-block-example-form{% if user.type == 2 %}-moderator{% endif %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <div class="col-lg-3">{{ field.label_tag }}</div>
            <div class="col-lg-9">{{ field }}</div>
            {{ field.errors }}
            <div class="clearfix"></div>
          </div>
        {% endfor %}
          <input type="submit" value="Сохранить" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}