{% extends 'cabinet_index.html' %}
{% block title %}
  Настройки сайта
{% endblock %}
{% block breadcrumbs_item %}
  <li class="active">Настройки сайта</li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row page-top">
          <div class="col-md-8">Настройки сайта</div>
          <div class="col-md-4">
            <a href="{% url 'setup-add' %}" class="btn btn-add page-top__btn">
              <span class="glyphicon glyphicon-plus-sign"></span> Добавить
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-bordered table-list">
          <thead>
            <tr>
              <th>id</th>
              <th>Название</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody  class="js-list">
          {% for object in object_list %}
            <tr  data-id="{{ object.id }}" data-name="{{ object }}" data-model="Setup" id="id_Setup_{{ object.id }}">
              <td>
                  {{ object.id }}
              </td>
              <td>
                <a href="{% url 'setup-update' object.id %}" title="Редактировать">
                  <button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span> Редактировать</button>
                  {{ object|default:'настройки' }}
                </a>
              </td>
              <td>
                <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-Setup-{{ object.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                  <span class="glyphicon glyphicon-remove"></span> Удалить
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">
                <p class="alert alert-info text-center">Настройки ещё не созданы</p>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}