<a href="{{ back_to_list }}" class="btn btn-default btn-sm add-bottom">
  <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
</a>
<div class="div add-bottom">
  <a href="{% url 'adjuster:change' adjuster.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Редактирование монтажника
  </a>
  <a href="{% url 'adjuster:task' adjuster.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-folder-open"></span> Список задач
  </a>
  <a href="{% url 'adjuster:payment' adjuster.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-shopping-cart"></span> Стоимость работ
  </a>
</div>