<a href="{{ back_to_list }}" class="btn btn-default btn-sm add-bottom">
  <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
</a>
<div class="div add-bottom">
  <a href="{% url 'client:change' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Редактирование клиента
  </a>
  <a href="{% url 'client:order' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-check"></span> Заказы
  </a>
  <a href="{% url 'client:journal' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-calendar"></span> Журнал продаж
  </a>
  <a href="{% url 'client:payment-list' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-shopping-cart"></span> Журнал поступлений
  </a>
  <a href="{% url 'client:maket' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-folder-open"></span> Архив макетов
  </a>
  {% if client.has_limit_surfaces %}
    <a href="{% url 'client:surfaces' client.id %}" class="btn btn-default">
      <span class="glyphicon glyphicon-globe"></span> Зона покрытия
    </a>
  {% endif %}
</div>