{% extends 'cabinet_base.html' %}

{% block header %}
<header>
  {% include '__cabinet/header.html' %}
</header>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="lead text-center remove-bottom">Пользователи</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  {% if user.type == 1 %}
                  <td><a href="{% url 'administrator:list' %}">Список администраторов</a></td>
                  <td><a href="{% url 'administrator:add' %}">Добавить администратора</a></td>
                  {% endif %}
                  <td><a href="{% url 'moderator:list' %}">Список модераторов</a></td>
                  <td><a href="{% url 'moderator:add' %}">Добавить модератора</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'client:list' %}">Список клиентов</a></td>
                  <td><a href="{% url 'client:add' %}">Добавить клиента</a></td>
                  <td><a href="{% url 'adjuster:list' %}">Список монтажников</a></td>
                  <td><a href="{% url 'adjuster:add' %}">Добавить монтажника</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="lead text-center remove-bottom">Настройки сайта</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td><a>SEO</a></td>
                  <td><a>Контент</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="lead text-center remove-bottom">Заявки с сайта</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td><a>Заявки</a></td>
                  <td><a>Продажи</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="lead text-center remove-bottom">Задачи</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td><a href="{% url 'adjustertask:list' %}">Список задач</a></td>
                  <td><a href="{% url 'adjustertask:add' %}">Добавить задачу</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="lead text-center remove-bottom">Города</p>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td><a href="{% url 'city:list' %}">Список городов</a></td>
                  <td><a href="{% url 'city:add' %}">Добавить город</a></td>
                  <td><a href="{% url 'surface:list' %}">Список рекламных поерхностей</a></td>
                  <td><a href="{% url 'surface:add' %}">Добавить рекламную поверхность</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
