{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li class="active">Журнал клиентов</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Результат загрузки</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <p class="lead">Успешно загружено: <span>{{ success_count }}</span></p>
            <p class="lead">Ошибки: <span>{{ error_count }}</span></p>
          {% for error in error_list %}
            <p class="alert alert-warning">
              {{ error }}
            </p>
          {% endfor %}
          {% for success in success_list %}
            <p class="alert alert-success">
              {{ success }}
            </p>
          {% endfor %}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}