{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'incoming:list' %}">Журнал клиентов</a></li>
  <li class="active">Редактирование клиента</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'incoming/__include/incoming_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Редактирование клиента {{ object.name }}</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
              {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {%  endif %}
              {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
              {% endif %}
          </div>
          <form action="" role="form" class="js-form-incomingclient-update form" method="post">
            {% csrf_token %}
            <div class="col-md-6">
              <div class="form-group {% if not user.is_leader_manager %}hide{% endif %}">
                {{ form.manager.label_tag }}
                {{ form.manager }}
                {{ form.manager.errors }}
              </div>
              <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
                {{ form.city.errors }}
              </div>
              <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.kind_of_activity.label_tag }}
                {{ form.kind_of_activity }}
                {{ form.kind_of_activity.errors }}
              </div>
              <div class="form-group">
                {{ form.actual_address.label_tag }}
                {{ form.actual_address }}
                {{ form.actual_address.errors }}
              </div>
              <div class="form-group">
                {{ form.site.label_tag }}
                {{ form.site }}
                {{ form.site.errors }}
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" class="btn btn-save">Сохранить</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}