{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li class="active">Журнал задач по клиентам</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-8">Задачи по клиентам <span>/ {{ object_list.paginator.count|default:'0' }}</span></div>
            <div class="col-md-4">
              <a href="{% url 'incoming:task-add' %}" class="btn btn-add page-top__btn">
                <span class="glyphicon glyphicon-plus-sign"></span> Добавить
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          {% include '__cabinet/filter_button.html' %}
          <form action="" method="GET" role="form" id="js-incomingtask-search-form" class="form form-filter">
            <div class="col-md-12">
              <div class="five-col-1">
                <input type="text" name="name" value="{{ r_name|default:'' }}" class="form-control input-sm" placeholder="Название">
              </div>
              <div class="five-col-1">
                <input type="text" name="date_s" id="id_date_s" value="{{ r_date_s|default:'' }}" class="form-control input-sm" placeholder="Дата от">
              </div>
              <div class="five-col-1">
                <input type="text" name="date_e" id="id_date_e" value="{{ r_date_e|default:'' }}" class="form-control input-sm" placeholder="Дата до">
              </div>
              <div class="five-col-1">
                <select name="type"  class="form-control input-sm">
                  <option value="">Тип задачи</option>
                  <option value="0" {% if r_type == 0 %}selected="selected"{% endif %}>Назначена встреча</option>
                  <option value="1" {% if r_type == 1 %}selected="selected"{% endif %}>Назначен звонок</option>
                  <option value="2" {% if r_type == 2 %}selected="selected"{% endif %}>Продажа</option>
                  <option value="3" {% if r_type == 3 %}selected="selected"{% endif %}>Отказ</option>
                </select>
              </div>
              <div class="five-col-1">
                <select name="status"  class="form-control input-sm">
                  <option value="">Статус</option>
                  <option value="0" {% if r_status == 0 %}selected="selected"{% endif %}>План</option>
                  <option value="1" {% if r_status == 1 %}selected="selected"{% endif %}>Сделано</option>
                </select>
              </div>

              {% if user.is_leader_manager %}
              <div class="five-col-1">
                <select name="r_manager" class="form-control input-sm">
                  <option value="">Выбор менеджера</option>
                  {% for manager in manager_list %}
                  <option value="{{ manager.id }}" {% if r_manager == manager.id %}selected="selected"{% endif %}>{{ manager.user.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
              <div class="five-col-1">
                <input type="submit" class="btn btn-search" value="Искать">
              </div>
              <div class="five-col-2">
              {% if show_all %}
                <a href="?all=0" class="btn btn-search btn-search_green">Показать задачи на сегодня</a>
              {% else %}
                <a href="?all=1" class="btn btn-search btn-search_green">Показать все задачи</a>
              {% endif %}
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed table-bordered table-list">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Менеджер</th>
                <th>Название клиента</th>
                <th>Вид деятельности</th>
                <th>Контактное лицо</th>
                <th>Тип задачи</th>
                <th>Комментарий</th>
                <th>Статус</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for object in object_list %}
              <tr data-id="{{ object.id }}" data-name="{{ object.get_type_display }}" data-model="IncomingTask" id="id_IncomingTask_{{ object.id }}">
{#                <td><a href="{% url 'incoming:task_update' object.id %}"> {{ object.name|default:'' }}</a></td>#}
                <td>{{ object.date|date:"d.m.Y"|default:'Не указано' }}</td>
                <td>{{ object.manager|default:'Не указано' }}</td>
                <td>{{ object.incomingclient.name|default:'Не указано' }}</td>
                <td class="break-all">{{ object.incomingclient.kind_of_activity|default:'Не указано' }}</td>
                <td class="break-all incomingtask-contact">
                  {{ object.incomingclientcontact.name|default:'Не указано' }}<br>
                  {{ object.incomingclientcontact.phone }}<br>
                  {{ object.incomingclientcontact.email }}
                </td>
                <td><a href="{% url 'incoming:task-update' object.id %}"> {{ object.get_type_display|default:'' }}</a></td>
                <td class="break-all">{{ object.comment|linebreaksbr|default:'Не указано' }}</td>
                <td>{{ object.get_status_display|default:'Не указано' }}</td>
                <td>
                  <a href="#js-change-incomingtask-modal" id="change-incomingtask-btn-{{ object.id }}" data-url="{% url 'incoming:get_incomingtask_info' %}" class="btn btn-info btn-sm js-change-incomingtask-btn">
                    <span class="glyphicon glyphicon-plus-sign"></span> Новая задача
                  </a>
                </td>
                <td>
                  {% if user.type != 5 %}
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-IncomingTask-{{ object.id }}" class="btn btn-danger btn-sm js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="10">
                  <p class="alert alert-info text-left">Задач по клиентам не найдено</p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include '__includes/pagination.html' with page_obj=object_list%}
        </div>
      </div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
  {% include 'incoming/__modal/change_incomingtask_form.html' %}


{% endblock %}