<div class="div add-bottom">
  <a href="{% url 'adjustertask:client-add' %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Добавление задачи по клиенту
  </a>
  <a href="{% url 'adjustertask:area-add' %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Добавление задачи по адресам
  </a>
  <a href="{% url 'adjustertask:repair-add' %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Добавление задачи на ремонт
  </a>
</div>