{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Список задач</p>
        </div>
        <div class="panel-body">
          <a href="{% url 'adjuster:task-add' %}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить задачу
          </a>
          {% if object_list %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>id</th>
                <th>Монтажник</th>
                <th>Город</th>
                <th>Район</th>
                <th>Улица</th>
                <th>Номер дома</th>
                <th>Тип задачи</th>
                <th>Дата выполнения</th>
              </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
              <tr>
                <td>{{ object.id|default:'--' }}</td>
                <td>{{ object.adjuster.user.get_full_name|default:'--' }}</td>
                <td>{{ object.surface.city.name|default:'--' }}</td>
                <td>{{ object.surface.street.area.name|default:'--' }}</td>
                <td>{{ object.surface.street.name|default:'--' }}</td>
                <td>{{ object.surface.house_number|default:'--' }}</td>
                <td>{{ object.get_type_display|default:'--' }}</td>
                <td>{{ object.date|default:'--' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}