{% extends 'cabinet_index.html' %}
{% block extra_js %}
<script>
  $(document).ready(function() {
    $('.progressbar').each(function(){
      $(this).progressbar({
        value: parseInt($(this).attr("rel"))
      })
    });
  });
</script>
{% endblock %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjuster:list' %}">Список монтажников</a></li>
  <li class="active">Редактирование монтажника</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'adjuster/__include/adjuster_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">
              Задачи монтажника {{ adjuster }}
            </div>
            <div class="clearfix"></div>
          </div>
          {% include '__cabinet/filter_button.html' %}
          <form action="" role="form" method="get" class="form form-filter" id="js-adjuster-task-filter-form">
            <div class="col-md-12">
              <div class="five-col-1">
                <input type="text" id="id_date_s" autocomplete="off" name="date_s" class="form-control input-sm" placeholder="дата от:" value="{{ r_date_s|default:'' }}">
              </div>
              <div class="five-col-1">
                <input type="text" id="id_date_e" autocomplete="off" name="date_e" class="form-control input-sm" placeholder="дата до:" value="{{ r_date_e|default:'' }}">
              </div>
              <div class="five-col-1">
                <input type="submit" class="btn btn-search" value="Искать">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <p class="lead">Общая сумма выплат монтажнику составляет: <strong>{{ total_sum|default:'0' }} руб.</strong> </p>
            <table class="table table-condensed table-bordered table-list">
              <thead>
              <tr>
                <th>Название</th>
                <th>Город</th>
                <th>Тип задачи</th>
                <th>Дата задачи</th>
                <th>Кол-во адресов</th>
                <th>Кол-во стендов</th>
                <th>Стоимость работ, руб</th>
                <th>% выполнения</th>
                <th>Сумма к выплате, руб</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody class="js-list">
              {% for task in task_list %}
                <tr data-id="{{ task.id }}" data-name="{{ task }}" data-model="AdjusterTask" id="id_AdjusterTask_{{ task.id }}">
                  <td><a href="{% url 'adjustertask:update' task.id %}" >{{ task }}</a></td>
                  <td>{{ task.adjuster.city.name }}</td>
                  <td>{{ task.get_type_display }}</td>
                  <td>{{ task.date }}</td>
                  <td>{{ task.adjustertasksurface_set.all.count|default:'0' }}</td>
                  <td>{{ task.get_porch_count|default:'0' }}</td>
                  <td>{{ task.get_total_cost }}</td>
                  <td><div class="progressbar" rel="{{ task.get_process|default:'0' }}"></div></td>
                  <td>{{ task.get_actual_cost|default:'0' }}</td>
                  <td>
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-AdjusterTask-{{ task.id }}" title="Удалить задачу" class="btn btn-danger btn-sm js-ajax-remove-btn">
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="10">
                    <p class="alert alert-info text-left">Задач не найдено.</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include '__includes/pagination.html' with page_obj=task_list %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}