{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjuster:list' %}">Список монтажников</a></li>
  <li class="active">Редактирование монтажника</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'adjuster/__include/adjuster_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Стоимость работ монтажника {{ adjuster }}</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <form action="." role="form" class="js-form-adjuster-update form" method="post">
            {% csrf_token %}
            <div class="col-md-6">
              <div class="form-group">
                {{ form.cost_mounting.label_tag }}
                {{ form.cost_mounting }}
                {{ form.cost_mounting.errors }}
              </div>
              <div class="form-group">
                {{ form.cost_change.label_tag }}
                {{ form.cost_change }}
                {{ form.cost_change.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.cost_repair.label_tag }}
                {{ form.cost_repair }}
                {{ form.cost_repair.errors }}
              </div>
              <div class="form-group">
                {{ form.cost_dismantling.label_tag }}
                {{ form.cost_dismantling }}
                {{ form.cost_dismantling.errors }}
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-save">Сохранить</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}