{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjuster:list' %}">Список монтажников</a></li>
  <li class="active">Редактирование монтажника</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      {% include 'adjuster/__include/adjuster_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">
              Редактирование монтажника {{ adjuster }}
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
        <div class="panel-body">
          <div class="col-md-12">
          {% if error %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {%  endif %}
          {% if success %}
            <div class="alert alert-success">
              {{ success }}
            </div>
          {% endif %}
            <form action="." role="form" class="js-form-adjuster-update form" method="post">
              {% csrf_token %}
              {{ adjuster_form.user }}
              <div class="col-md-6">
                <p class="lead text-info">Контактная информация</p>
                <div class="form-group">
                  {{ adjuster_form.city.label_tag }}
                  {{ adjuster_form.city }}
                  {{ adjuster_form.city.errors }}
                </div>
                <div class="form-group">
                  {{ user_form.email.label_tag }}
                  {{ user_form.email }}
                  {{ user_form.email.errors }}
                </div>
                <div class="form-group add-bottom">
                  {{ user_form.phone.label_tag }}
                  {{ user_form.phone }}
                  {{ user_form.phone.errors }}
                </div>
              </div>
              <div class="col-md-6">
                <p class="lead text-info">Контактная информация</p>
                <div class="form-group">
                  {{ user_form.last_name.label_tag }}
                  {{ user_form.last_name }}
                  {{ user_form.last_name.errors }}
                </div>
                <div class="form-group">
                  {{ user_form.first_name.label_tag }}
                  {{ user_form.first_name }}
                  {{ user_form.first_name.errors }}
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  {{ user_form.patronymic.label_tag }}
                  {{ user_form.patronymic }}
                  {{ user_form.patronymic.errors }}
                </div>
              </div>
              <div class="clearfix"></div>
              {% include '__cabinet/password_change.html' %}
              <div class="clearfix"></div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-save">Сохранить</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}