{% extends 'cabinet_index.html' %}
{% block extra_js %}
<script>
  $(document).ready(function() {
   $(".progressbar").progressbar({value:35});
  });
</script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'adjuster/__include/adjuster_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Задачи монтажника {{ adjuster }}</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
            <p class="lead">Общая сумма выплат монтажнику составляет: <strong>{{ total_sum|default:'0' }} руб.</strong> </p>
            <form action="" role="form" method="get" class="form-inline add-bottom" id="js-adjuster-task-filter-form">
              <input type="text" id="id_date_s" name="date_s" class="form-control input-sm" placeholder="дата от:" value="{{ r_date_s|default:'' }}">
              <input type="text" id="id_date_e" name="date_e" class="form-control input-sm" placeholder="дата до:" value="{{ r_date_e|default:'' }}">
              <button type="submit" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-search"></span> Искать
              </button>
            </form>
            <table class="table">
              <thead>
              <tr>
                <th>Название</th>
                <th>Город</th>
                <th>Тип задачи</th>
                <th>Дата задачи</th>
                <th>Кол-во адресов</th>
                <th>Кол-во подъездов</th>
                <th>Стоимость работы, руб</th>
                <th>% выполнения</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody class="js-list">
              {% for task in task_list %}
                <tr data-id="{{ task.id }}" data-name="{{ task }}" data-model="AdjusterTask" id="id_AdjusterTask_{{ task.id }}">
                  <td><a href="{% url 'adjustertask:update' task.id %}" >{{ task }}</a></td>
                  <td>{{ task.adjuster.city.name }}</td>
                  <td>{{ task.get_type_display }}</td>
                  <td>{{ task.date }}</td>
                  <td>{{ task.adjustertasksurface_set.all.count|default:'0' }}</td>
                  <td>{{ task.get_porch_count|default:'0' }}</td>
                  <td>{{ task.get_total_cost|default:'0' }}</td>
                  <td><div class="progressbar"></div></td>
                  <td>
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-AdjusterTask-{{ task.id }}" title="Удалить задачу" class="btn btn-danger btn-sm js-ajax-remove-btn">
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="9">
                    <p class="alert alert-info">Задач не найдено.</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include '__includes/pagination.html' with page_obj=task_list %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}