{% extends 'cabinet_index.html' %}
{% block breadcrumbs_item %}
  <li><a href="{% url 'adjuster:list' %}">Список монтажников</a></li>
  <li class="active">Добавление монтажника</li>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <a href="{{ back_to_list }}" class="btn btn-default btn-sm add-bottom">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> назад к списку
      </a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row page-top">
            <div class="col-md-12">Добавление монтажника</div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
          {% if error %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {%  endif %}
          {% if success %}
            <div class="alert alert-success">
              {{ success }}
            </div>
          {% endif %}
          </div>
          <form action="." role="form" class="form js-form-adjuster-add" method="post">
            {% csrf_token %}
            <div class="col-md-12">
              <p class="lead text-info">Персональная информация</p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ adjuster_form.city.label_tag }}
                {{ adjuster_form.city }}
                {{ adjuster_form.city.errors }}
              </div>
              <div class="form-group">
                {{ user_form.email.label_tag }}
                {{ user_form.email }}
                {{ user_form.email.errors }}
              </div>
              <div class="form-group">
                {{ user_form.password1.label_tag }}
                {{ user_form.password1 }}
                {{ user_form.password1.errors }}
              </div>
              <div class="form-group">
                {{ user_form.password2.label_tag }}
                {{ user_form.password2 }}
                {{ user_form.password2.errors }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ user_form.last_name.label_tag }}
                {{ user_form.last_name }}
                {{ user_form.last_name.errors }}
              </div>
              <div class="form-group">
                {{ user_form.first_name.label_tag }}
                {{ user_form.first_name }}
                {{ user_form.first_name.errors }}
              </div>
              <div class="form-group">
                {{ user_form.patronymic.label_tag }}
                {{ user_form.patronymic }}
                {{ user_form.patronymic.errors }}
              </div>
              <div class="form-group">
                {{ user_form.phone.label_tag }}
                {{ user_form.phone }}
                {{ user_form.phone.errors }}
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-save">Сохранить</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}