{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Редактирование модератора {{ object.email }}</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
              {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {%  endif %}
              {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
              {% endif %}
          </div>
          <div class="col-lg-12">
            <form action="" role="form" class="js-form-administrator-change" method="post">
              {% csrf_token %}
              <div class="col-lg-6">
                <div class="form-group">
                  <p class="text-info lead">Персональная информация</p>
                  <div class="col-lg-5">
                    {{ form.email.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.email }}
                  </div>
                  <div class="clearfix"></div>
                  {{ form.email.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.last_name.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.last_name }}
                  </div>
                  <div class="clearfix"></div>
                  {{ form.last_name.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.first_name.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.first_name }}
                  </div>
                  <div class="clearfix"></div>
                  {{ form.first_name.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.patronymic.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.patronymic }}
                  </div>
                  <div class="clearfix"></div>
                  {{ form.patronymic.errors }}
                </div>
                <div class="form-group add-bottom">
                  <div class="col-lg-5">
                    {{ form.phone.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.phone }}
                  </div>
                  <div class="clearfix"></div>
                  {{ form.phone.errors }}
                </div>
                <div class="form-group">
                  <p class="text-info lead">Смена пароля</p>
                  <div class="col-lg-5"><label for="password1">Новый пароль</label></div>
                  <div class="col-lg-7"><input type="password" name="password1" class="form-control"></div>
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  <div class="col-lg-5"><label for="password2">Повторите пароль</label></div>
                  <div class="col-lg-7"><input type="password" name="password2" class="form-control"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <p class="text-info lead">Информация об организации</p>
                  <div class="col-lg-5"> {{ form.company.label_tag }} </div>
                  <div class="col-lg-7"> {{ form.company }} </div>
                  <div class="clearfix"></div>
                  {{ form.company.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5"> {{ form.leader.label_tag }} </div>
                  <div class="col-lg-7"> {{ form.leader }} </div>
                  <div class="clearfix"></div>
                  {{ form.leader.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5"> {{ form.leader_function.label_tag }} </div>
                  <div class="col-lg-7"> {{ form.leader_function }} </div>
                  <div class="clearfix"></div>
                  {{ form.leader_function.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5"> {{ form.work_basis.label_tag }} </div>
                  <div class="col-lg-7"> {{ form.work_basis }} </div>
                  <div class="clearfix"></div>
                  {{ form.work_basis.errors }}
                </div>
                <p class="alert alert-info">данные в поля "Руководитель", "Должность руководителя"
                    и "действует на основани" необходимо указывать в родительном падеже.</p>
              </div>
              <div class="clearfix"></div>
              <div class="text-center">
                <button type="submit" class="btn btn-default">Сохранить изменения</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}